td.yes {
	background-color: #8ae234;
}
td.no {
	background-color: #f57900;
}
td.na {
	background-color: #edd400;
}

input[type=checkbox] {
	width: 1.5em;
	height: 1.5em;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}
