{% extends "default.html" %}
{% block title %}Event Log{% endblock %}

{% block page_header %}
<h1>Event Log</h1>
{% endblock %}

{% block content %}
{% if session['username'] == 'admin' %}
<p>This list shows all events for all users.</p>
{% else %}
<p>This list shows all events for the {{session['qa_group']}} QA group.</p>
{% endif %}

<table class="history">
  <tr>
    <th>Timestamp</th>
    <th>Address</th>
    <th>User</th>
    <th></th>
    <th>Message</th>
  </tr>
{% for e in events %}
  <tr>
    <td class="history">{{e.timestamp}}</td>
    <td class="history">{{e.address}}</td>
    <td class="history">{{e.username}}</td>
{% if e.is_important %}
    <td class="history">&#x272a;</td>
{% else %}
    <td class="history"></td>
{% endif %}
    <td class="history">{{e.message}}</td>
  </tr>
{% endfor %}
</table>

{{pagination_footer|safe}}

{% endblock %}
