{% extends "default.html" %}
{% block title %}User List{% endblock %}

{% block page_header %}
<h1>Existing Users</h1>
{% endblock %}

{% block content %}
<table>
<tr class="history">
  <th>&nbsp;</th>
  <th>Username</th>
  <th>QA Group</th>
  <th>Name</th>
  <th>Email</th>
</tr>

{% for u in users %}
<tr class="history">
  <td>
    <a href="/lvfs/user/{{u.username}}/admin"><img src="/preferences-other.svg"/></a>
  </td>
  <td>{{u.username}}</td>
  <td>{{u.qa_group}}</td>
  <td>{{u.display_name}}</td>
  <td>{{u.email}}</td>
</tr>
{% endfor %}

</table>

<h2>Create a new user</h2>
<table class="history">
  <tr>
    <td>Username</td>
    <td><input type="text" size="20" name="username_new" placeholder="username" required></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password" size="20" name="password_new" placeholder="password" required></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><input type="text" size="20" name="name" placeholder="Example Name" required></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="text" size="20" name="email" placeholder="info@example.com" required></td>
  </tr>
  <tr>
    <td>QA Group</td>
    <td><input type="text" size="20" name="qa_group" placeholder="example" required></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <form method="post" action="/lvfs/user/add">
        <input type="submit" style="width: 6em" value="Add">
      </form>
    </td>
  </tr>
</table>

{% endblock %}
