{% extends "default.html" %}
{% block title %}Legal Agreement{% endblock %}

{% block content %}

<h2>Legal Agreement</h2>
<form method="post" action="/lvfs/agreement/{{agreement.agreement_id}}/modify">
  <div class="form-group">
    <label for="version">Version (incrementing will prompt users):</label>
    <input type="number" class="form-control" name="version" value="{{agreement.version}}" required>
  </div>
  <div class="form-group">
    <label for="text">Markup in HTML format:</label>
    <textarea class="form-control" name="text" cols="100" rows="25">{{agreement.text}}</textarea>
  </div>
  <input type="submit" class="btn btn-primary" class="submit" value="Modify">
  <a class="btn btn-danger" href="/lvfs/agreement/{{agreement.agreement_id}}/delete">Delete</a>
</form>

{% endblock %}
