{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block nav %}{% include 'analytics-nav.html' %}{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-1">State</th>
    <th class="col-sm-2">Machine</th>
    <th class="col-sm-5">Firmware</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for r in reports %}
  <tr class="row">
    <td class="col-sm-2">{{r.timestamp}}</td>
    <td class="col-sm-1">
{% if r.state == 0 %}
      <p class="text-warning">Unknown</p>
{% elif r.state == 1 %}
      <p class="text-warning">Pending</p>
{% elif r.state == 2 %}
      <p class="text-success">Success</p>
{% elif r.state == 3 %}
{% if r.issue_id > 0 %}
      <a class="text-info" href="/lvfs/issue/{{r.issue_id}}/details">Triaged</a>
{% else %}
      <p class="text-danger">Failed</p>
{% endif %}
{% else %}
      <p class="text-danger">Invalid!</p>
{% endif %}
    </td>
    <td class="col-sm-2"><code>{{r.machine_id|truncate(13, False, '…')}}</code></td>
    <td class="col-sm-5">
{% if r.fw %}
      <a href="/lvfs/firmware/{{r.firmware_id}}"><code>{{r.fw.filename[41:]}}</code></a></td>
{% else %}
      <p class="text-danger">Not known!</p>
{% endif %}
    </td>
    <td class="col-sm-2 text-right">
      <a class="btn btn-danger" href="/lvfs/report/{{r.report_id}}/delete">Delete</a>
      <a class="btn btn-info" href="/lvfs/report/{{r.report_id}}">Details</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
