{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<h1>Analytics</h1>
<script src="/static/Chart.js"></script>
<script>
Chart.defaults.global.animation = false;
</script>

<h2>Firmware Downloads (day)</h2>
<canvas id="metadataChartMonthsDays" width="800" height="400"></canvas>
<script>
var ctx = document.getElementById("metadataChartMonthsDays").getContext("2d");
var data = {
    labels: {{labels_days|safe}},
    datasets: [
        {
            label: "Firmware",
            fillColor: "rgba(20,120,220,0.2)",
            strokeColor: "rgba(20,120,120,0.1)",
            pointColor: "rgba(20,120,120,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{data_days|safe}}
        },
    ]
};
var myLineChartDays = new Chart(ctx).Line(data, null);
</script>

<h2>Firmware Downloads (month)</h2>
<canvas id="metadataChartMonths" width="800" height="400"></canvas>
<script>
var ctx = document.getElementById("metadataChartMonths").getContext("2d");
var data = {
    labels: {{labels_months|safe}},
    datasets: [
        {
            label: "Firmware",
            fillColor: "rgba(20,120,220,0.2)",
            strokeColor: "rgba(20,120,120,0.1)",
            pointColor: "rgba(20,120,120,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{data_months|safe}}
        },
    ]
};
var myLineChartMonths = new Chart(ctx).Line(data, null);
</script>

<h2>Firmware Downloads by User Agent</h2>
<canvas id="metadataChartUserAgents" width="800" height="400"></canvas>
<script>
var ctx = document.getElementById("metadataChartUserAgents").getContext("2d");
var data = {
    labels: {{labels_user_agent|safe}},
    datasets: [
        {
            label: "User Agents",
            fillColor: "rgba(20,120,220,0.2)",
            strokeColor: "rgba(20,120,120,0.1)",
            pointColor: "rgba(20,120,120,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{data_user_agent|safe}}
        },
    ]
};
var myLineChartUserAgent = new Chart(ctx).Bar(data, null);
</script>

{% endblock %}
