{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block nav %}{% include 'analytics-nav.html' %}{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-2">Address</th>
    <th class="col-sm-4">Value</th>
    <th class="col-sm-1">Method</th>
    <th class="col-sm-1">Results</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for ev in search_events %}
  <tr class="row">
    <td class="col-sm-2">{{ev.timestamp}}</td>
    <td class="col-sm-2"><code>{{ev.addr|truncate(13, False, '…')}}</code></td>
    <td class="col-sm-4"><code>{{ev.value}}</code></td>
    <td class="col-sm-1"><code>{{ev.method}}</code></td>
    <td class="col-sm-1">{{ev.count}}</td>
    <td class="col-sm-2">
      <a class="btn btn-block btn-danger" href="/lvfs/search/{{ev.search_event_id}}/delete">Delete</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
