<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'analytics_month' %}active{% endif %}" href="/lvfs/analytics/month">Past Month</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'analytics_year' %}active{% endif %}" href="/lvfs/analytics/year">Past Year</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'analytics_user_agents' %}active{% endif %}" href="/lvfs/analytics/user_agent">User Agents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'analytics_clients' %}active{% endif %}" href="/lvfs/analytics/clients">Recent Downloads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'analytics_reports' %}active{% endif %}" href="/lvfs/analytics/reports">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'analytics_search_history' %}active{% endif %}" href="/lvfs/analytics/search_history">Recent Searches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'analytics_search_stats' %}active{% endif %}" href="/lvfs/analytics/search_stats">Popular Searches</a>
    </li>
  </ul>
</nav>
