{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="container mt-3">

<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/analytics/month">Past Month</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/analytics/year">Past Year</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/analytics/user_agent">User Agents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/analytics/clients">Downloads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/analytics/reports">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/lvfs/analytics/search_history">Recent Searches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/analytics/search_stats">Popular Searches</a>
    </li>
  </ul>
</nav>

<div class="container mt-3">

<h2>Recent Searches</h2>

<table class="table">
  <tr class="row">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-2">Address</th>
    <th class="col-sm-4">Value</th>
    <th class="col-sm-1">Method</th>
    <th class="col-sm-1">Results</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for ev in search_events %}
  <tr class="row">
    <td class="col-sm-2">{{ev.timestamp}}</td>
    <td class="col-sm-2"><code>{{ev.addr|truncate(13, False, '…')}}</code></td>
    <td class="col-sm-4"><code>{{ev.value}}</code></td>
    <td class="col-sm-1"><code>{{ev.method}}</code></td>
    <td class="col-sm-1">{{ev.count}}</td>
    <td class="col-sm-2">
      <a class="btn btn-block btn-danger" href="/lvfs/search/{{ev.search_event_id}}/delete">Delete</a>
    </td>
  </tr>
{% endfor %}
</table>

</div>

</div> <!-- container -->
{% endblock %}
