{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block nav %}{% include 'analytics-nav.html' %}{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js" integrity="sha256-t3+U9BqykoMN9cqZmJ5Z53TvPv4V7S9AmjUcIWNNyxo=" crossorigin="anonymous"></script>

<script>
Chart.defaults.global.animation = false;
</script>

<p>
This data is also available for the last <a href="/lvfs/analytics/user_agent/30">1</a>,
<a href="/lvfs/analytics/user_agent/90">3</a>, <a href="/lvfs/analytics/user_agent/180">6</a>,
and <a href="/lvfs/analytics/user_agent/360">12</a> months.
</p>

<canvas id="metadataChartUserAgents" width="1000" height="600"></canvas>
<script>
var ctx = document.getElementById("metadataChartUserAgents").getContext("2d");
var data = {
    labels: {{labels_user_agent|safe}},

    datasets: [
{% for d in datasets %}
        {
            label: "{{d['label']}}",
            borderColor: "#{{d['color']}}",
            backgroundColor: "#{{d['color']}}",
            fill: false,
            pointRadius: 1,
            data: {{d['data']}}
        },
{% endfor %}
    ]
};
new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend: {
            position: 'bottom',
            display: true
        }
    }
});

</script>
{% endblock %}
