{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block nav %}{% include 'analytics-nav.html' %}{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-2">Address</th>
    <th class="col-sm-4">Filename</th>
    <th class="col-sm-4">User Agent</th>
  </tr>
{% for c in clients %}
  <tr class="row">
    <td class="col-sm-2">{{c.timestamp}}</td>
    <td class="col-sm-2"><code>{{c.addr|truncate(9, False, '…')}}</code></td>
    <td class="col-sm-4">{{c.fw.filename[41:]|truncate(41, False, '…')}}</td>
    <td class="col-sm-4">{{c.user_agent}}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
