{% extends "default.html" %}

{% block title %}Developers{% endblock %}

{% block content %}
<div class="container mt-3">

<h1>Developers</h1>

<h2>Getting the code</h2>
<p>
  The latest fwupd code is always available at <a href="https://github.com/hughsie/fwupd">GitHub</a>
  and this is also the place to file <a href="https://github.com/hughsie/fwupd/issues">bugs or feature requests</a>.
  You can trivially get the code by doing:
</p>
<pre>
$ git clone https://github.com/hughsie/fwupd.git
</pre>
<p>
  You can also install all the required dependencies using:
</p>
<pre>
$ sudo dnf install docbook-utils gettext intltool libgudev1-devel \
                   colord-devel polkit-devel libgcab1-devel \
                   sqlite-devel gpgme-devel fwupdate-devel libsoup-devel
</pre>

<h2>Architecture</h2>
<p>
  The 'client' which is typically <code>gnome-software</code> or <code>fwupdmgr</code>
  interacts with the daemon using D-DBus using PolicyKit.
  The daemon has no network access and only acts as the mechanism for clients.
</p>

<figure class="text-center">
  <img src="static/img/architecture-plan.png" class="figure-img img-fluid rounded" alt="architecture-plan">
  <figcaption class="figure-caption">
    fwupd is implemented as a D-Bus activated service that is autostarted when required.
  </figcaption>
</figure>

<h2>Plugins</h2>
<p>
  Although we already support many different methods of updating firmware
  we're happy to accept patches for vendor-specific protocols.
  The plugin loader requires the plugin to obtain the list of attached hardware
  and assign a model-specific GUID value to each device.
</p>

</div> <!-- container -->
{% endblock %}
