{% extends "default.html" %}
{% block title %}Device{% endblock %}

{% block content %}
<h1>Device Details</h1>

{% if fws|length == 0 %}

<p>No firmware is available for this device.</p>

{% else %}

<p>This page show all the firmware releases for a specific device.</p>
<table class="table">
  <tr><th>Name</th><td>{{fws[0].mds[0].name}}</td></tr>
  <tr><th>Summary</th><td>{{fws[0].mds[0].summary}}</td></tr>
  <tr><th>Developer Name</th><td><a href="{{fws[0].mds[0].url_homepage}}">{{fws[0].mds[0].developer_name}}</a></td></tr>
  <tr><th>Firmware License</th><td>{{fws[0].mds[0].project_license}}</td></tr>
</table>

<h1>Update History</h1>
{% for fw in fws %}

{% if (g.user is defined and g.user.check_acl('@admin')) or fw.remote.is_public %}
{% if fw.version_display %}
<h2 class="mt-3">Version {{fw.version_display}}:</h2>
{% else %}
<h2>Version {{fw.mds[0].version}}:</h2>
{% endif %}
{% if fw.remote.name == 'testing' %}
<p>
  <b>Warning:</b> This firmware is in the testing state and may not be suitable for
  production systems.
</p>
{% endif %}
<div class="container mt-3">
<table class="table">
  <tr class="row">
    <th class="col-sm-2">Uploaded</th>
    <td class="col-sm-10">{{fw.timestamp}}</td>
  </tr>
  <tr class="row">
    <th class="col-sm-2">State</th>
    <td class="col-sm-10">{{fw.remote.name}}</td>
  </tr>
  <tr class="row">
    <th class="col-sm-2">Urgency</th>
    <td class="col-sm-10">{{fw.mds[0].release_urgency}}</td>
  </tr>
  <tr class="row">
    <th class="col-sm-2">Filename</th>
    <td class="col-sm-10">
{% if fw.inhibit_download %}
      <p class="text-muted">
        The OEM that uploaded this firmware has chosen to disable downloads of
        the firmware when using a web browser.
        End users should use a client such as fwupdmgr to download and deploy
        the firmware.
      </p>
{% else %}
      <a href="/downloads/{{fw.filename}}">{{fw.filename}}</a>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-sm-2">Description</th>
    <td class="col-sm-10">{{fw.mds[0].release_description|safe}}</td>
  </tr>
</table>
</div>
{% endif %}

{% endfor %}

<hr/>

{% endif %}

{% endblock %}

<!-- back -->
{% block footer %}
{% if g.user is not defined %}
<p><a href="/lvfs/devicelist">Back to the device list</a></p>
{% endif %}{% endblock %}
