{% extends "default.html" %}

{% block title %}Composite Hardware{% endblock %}

{% block content %}
<h1>Composite Hardware</h1>
<p>
  A vendor can build a single <code>.cab</code> archive with multiple firmware files with
  different <code>.metainfo.xml</code> files describing them.
  This allows a single file to be used to update either multiple devices, or
  a single <em>composite</em> device.
  An example of a composite device would be a Dell dock, where electrically there
  are various components connected using USB, but physically it looks like one
  piece of hardware. Wacom does the same for the various Intuit tablets.
</p>
<p>
  Some tools such as gnome-software may be unable to show more than one update
  description for the single .cab file. The LVFS also needs to know how to sort
  the components inside the firmware when showing the logged in user.
</p>
<p>
  To solve this, assign the firmware components a priority, where higher numbers
  are better. For example <code>main.metainfo.xml</code>:
</p>
<pre>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;component priority="1" type="firmware"&gt;
  &lt;id&gt;com.hughski.dock.firmware&lt;/id&gt;
  &lt;name&gt;Hughski Dock Update&lt;/name&gt;
  ...
&lt;/component&gt;
</pre>
<p>
and also <code>rts1234.metainfo.xml</code>:
</p>
<pre>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;component type="firmware"&gt;
  &lt;id&gt;com.hughski.dock.rts1234.firmware&lt;/id&gt;
  &lt;name&gt;RTS1234 Update for Hughski Dock&lt;/name&gt;
  ...
&lt;/component&gt;
</pre>
<p>
and <code>atmel567.metainfo.xml</code>:
</p>
<pre>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;component type="firmware"&gt;
  &lt;id&gt;com.hughski.dock.atmel567.firmware&lt;/id&gt;
  &lt;name&gt;ATMEL567 Update for Hughski Dock&lt;/name&gt;
  ...
&lt;/component&gt;
</pre>

<figure class="text-center">
  <img src="/img/get-topology.png" class="p-3 border border-info rounded figure-img img-fluid" alt="topology cli output">
  <figcaption class="figure-caption">Showing the topology of a dock device.</figcaption>
</figure>

{% endblock %}
