{% extends "default.html" %}

{% block title %}Affiliates{% endblock %}

{% block content %}
<h1>Affiliated Vendors on the LVFS</h1>
<p>
  The affiliates feature on the LVFS may be interesting to larger OEMs, as it
  allows users working for other ODMs to upload firmware on the OEMs behalf.
</p>
<p>
  First, some nomenclature:
</p>
<ul>
  <li>
    <b>OEM</b>: Original Equipment Manufacturer, the user-known company name on
    the outside of the device, e.g. Sony, Panasonic, etc.
  </li>
  <li>
    <b>ODM</b>: Original Device Manufacturer, typically making parts for one or more
  OEMs, e.g. Foxconn, Compal, etc.
  </li>
</ul>
<p>
  There are some OEMs where the ODM is the entity responsible for uploading the
  firmware to the LVFS.
  The per-device QA is typically done by the OEM, rather than the ODM, although
  it can be both.
  Allowing the ODM to log in as the OEM is not good design from a security,
  privacy or audit point of view.
</p>
<p>
  The LVFS administrator can mark other vendors as <em>affiliates</em> of other vendors.
  This gives the ODM permission to upload firmware that is <em>owned</em> by the OEM to
  the LVFS, and that appears in the OEM embargo metadata.
  The OEM QA team is also able to edit the update description, move the firmware
  to testing and stable (or delete it entirely) as required.
  The ODM vendor account also doesn't have to appear in the
  <a href="{{url_for('.device_list')}}">search results</a> or the
  <a href="{{url_for('.vendor_list')}}">vendor list</a>, making it hidden to
  all users except ones from the OEM.
</p>
<p>
  This also means if an ODM like Foxconn builds firmware for two different OEMs,
  they also have to specify which vendor should own the firmware at upload time.
  This is achieved with a simple selection widget on the upload page, but is only
  shown if affiliations have been set up.
</p>

<figure class="text-center">
  <img src="/img/upload-for-affiliate.png" class="p-3 border border-info rounded figure-img img-fluid" alt="upload for ODM">
  <figcaption class="figure-caption">Upload page for ODM.</figcaption>
</figure>

<p>
  The ODM is able to manage their user accounts directly, either using local
  accounts with passwords, or ODM-specific OAuth which is the preferred choice as
  it means there is only one place to manage credentials.
</p>
<h2>Moving Firmware From ODM to OEM</h2>
<p>
  In some instances it is better to upload firmware by the ODM vendor to the ODM
  group, rather than the affiliated OEM. This would let anyone in the ODM QA group
  modify the update, for instance changing the update description or performing
  an end-to-end test.
</p>
<p>
  Once the firmware has been tested, it can be *moved* to the OEM account,
  although it can only be moved back by the OEM as the ownership has been
  transferred.
</p>
<p>
<figure class="text-center">
  <img src="/img/affiliate-change.png" class="p-3 border border-info rounded figure-img img-fluid" alt="affiliate change">
  <figcaption class="figure-caption">Moving a firmware to a different vendor.</figcaption>
</figure>

{% endblock %}
