{% extends "default.html" %}
{% block title %}Event Log{% endblock %}

{% block content %}
<div class="container">
<h1>Event Log</h1>
{% if session['username'] == 'admin' %}
<p>This list shows all events for all users.</p>
{% else %}
<p>This list shows all events for the {{session['group_id']}} QA group.</p>
{% endif %}

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Timestamp</th>
    <th>Address</th>
    <th>User</th>
    <th></th>
    <th>Message</th>
  </tr>
{% for e in events %}
  <tr>
    <td>{{e.timestamp}}</td>
    <td>{{e.address}}</td>
    <td>{{e.username}}</td>
{% if e.is_important %}
    <td>&#x272a;</td>
{% else %}
    <td></td>
{% endif %}
    <td>{{e.message}}</td>
  </tr>
{% endfor %}
</table>

{{pagination_footer|safe}}

</div> <!-- container -->
{% endblock %}
