{% extends "default.html" %}
{% block title %}Event Log{% endblock %}

{% block content %}
<div class="container mt-3">
<h1>Event Log</h1>
{% if g.user.username == 'admin' %}
<p>This list shows all events for all users.</p>
{% else %}
<p>This list shows all events for the {{g.user.group_id}} QA group.</p>
{% endif %}

<table class="table">
  <tr class="row">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-2">Address</th>
    <th class="col-sm-2">User</th>
    <th class="col-sm-6">Message</th>
  </tr>
{% for e in events %}
  <tr class="row">
    <td class="col-sm-2">{{e.timestamp}}</td>
    <td class="col-sm-2"><code>{{e.address}}</code></td>
    <td class="col-sm-2">{{e.username}}</td>
    <td class="col-sm-6">
{% if e.is_important %}
      &#x272a;
{% endif %}
      {{e.message}}
{% if e.request %}
      <code>{{e.request}}</code>
{% endif %}
    </td>
  </tr>
{% endfor %}
</table>

{{pagination_footer|safe}}

</div> <!-- container -->
{% endblock %}
