{% extends "default.html" %}
{% block title %}Firmware{% endblock %}

{% block content %}
<h1>Existing Firmware</h1>

{% if fw_by_name|length == 0 %}
<p>
{% if g.user.is_qa %}
  No firmware has been uploaded to the &lsquo;{{g.user.vendor.group_id}}&rsquo; QA group yet.
{% else %}
  No firmware has been uploaded by the &lsquo;{{g.user.username}}&rsquo; account yet.
{% endif %}
</p>

{% else %}

<p>
  The following firmware files have been uploaded to the
  &lsquo;{{g.user.vendor.group_id}}&rsquo; QA group.
{% if not show_all %}
  By default only one firmware per device is shown in each state.
  To show all files for all devices, <a href="/lvfs/firmware_all">click here</a>.
{% endif %}
</p>

{% for name in names_sorted %}
<h2>{{name}}</h2>
<table class="table">
  <tr class="row">
    <th class="col-sm-3">Version</td>
    <th class="col-sm-3">Submitted</td>
    <th class="col-sm-4">Remote</td>
    <th class="col-sm-2">&nbsp;</td>
  </tr>
{% for fw in fw_by_name[name] %}
{% if show_all or fw.is_newest_in_state %}
  <tr class="row">
    <td class="col-sm-3">{{fw.version_display}}</td>
    <td class="col-sm-3">{{fw.timestamp}}</td>
    <td class="col-sm-4">{{fw.remote.name}}</td>
    <td class="col-sm-2 text-right">
      <a class="btn btn-info btn-block" href="/lvfs/firmware/{{fw.firmware_id}}">Details</a>
    </td>
  </tr>
{% endif %}
{% endfor %}
</table>
{% endfor %}

{% endif %}
{% endblock %}
