{% extends "default.html" %}
{% block title %}Firmware Problems{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">Name</th>
    <th class="col-sm-7">Description</th>
{% for problem in fw.problems %}
  <tr class="row">
    <td class="col-sm-3">
      <img src="/img/{{problem.icon_name}}.png"/>
      {{problem.summary}}
    </td>
{% if problem.kind == 'no-release-urgency' %}
    <td class="col-sm-7">
      <p class="card-text">
        All components should have an appropriate update urgency before a
        firmware is moved to stable.
      </p>
      <p class="card-text">
        For future firmware uploads, this can be set automatically using
        <code>&lt;release urgency="high"&gt;</code> in the
        <a href="/metainfo"><code>.metainfo.xml</code></a> file.
      </p>
    </td>
{% elif problem.kind == 'no-release-description' %}
    <td class="col-sm-7">
      <p class="card-text">
        All components should have a suitable update description before a
        firmware is moved to stable.
        Writing good quality release notes are really important as some users may be
        worried about an update that does not explain what it fixes.
      </p>
      <p class="card-text">
        For future firmware uploads, this can be set automatically using this
        in the <a href="/metainfo"><code>.metainfo.xml</code></a> file:<br/>
        <code>&lt;release&gt;&lt;description&gt;&lt;p&gt;Release note
        text&lt;/p&gt;&lt;/description&gt;&lt;/release&gt;</code>
      </p>
    </td>
{% elif problem.kind == 'invalid-release-description' %}
    <td class="col-sm-7">
      <p class="card-text">
        All components should have a suitable update description before a
        firmware is moved to stable.
      </p>
{% if problem.description %}
      <p class="card-text">
        <code>{{problem.description}}</code>
      </p>
{% endif %}
    </td>
{% elif problem.kind == 'unsigned' %}
    <td class="col-sm-7">
      <p class="card-text">
        Signing a firmware file on the LVFS is automatic and will be completed in
        {{format_timedelta_approx(fw.scheduled_signing)}}.
        You can refresh this page to find out when the firmware has been signed.
      </p>
    </td>
{% elif problem.kind == 'deleted' %}
    <td class="col-sm-7">
      <p class="card-text">
        Once a file has been deleted on the LVFS it must be undeleted before it
        can be moved to a different target.
      </p>
    </td>
{% else %}
    <td class="col-sm-7">
      <p class="card-text">
        Please report this issue to the LVFS administrator.
      </p>
    </td>
{% endif %}
    <td class="col-sm-2">
{% if problem.url %}
      <a class="btn btn-info btn-block" href={{problem.url}}>Details</a>
{% endif %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
