{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block content %}
<div class="container mt-3">

<!-- veto information -->
{% if fw.target == 'testing' and 'no-release-urgency' in vetos %}
<div class="card mb-3">
  <h3 class="card-header list-group-item-warning">
    More information soon required!
  </h3>
  <div class="card-body">
    <p class="card-text">
      All components should have an appropriate update urgency before a
      firmware is moved to stable.
      You can do this for each component on this firmware by clicking <b>Details</b>
      &raquo; <b>Update Details</b> and setting an urgency from the dropdown.
    </p>
    <p class="card-text">
      For future firmware uploads, this can be set automatically using
      <code>&lt;release urgency="high"&gt;</code> in the
      <a href="/metainfo"><code>.metainfo.xml</code></a> file.
    </p>
    <p class="card-text">
      From 1<sup>st</sup> September 2018 it will not be possible to move firmware
      files to stable that do not have an urgency value.
    </p>
  </div>
</div>
{% elif fw.target == 'testing' and 'no-release-description' in vetos %}
<div class="card mb-3">
  <h3 class="card-header list-group-item-warning">
    More information soon required!
  </h3>
  <div class="card-body">
    <p class="card-text">
      All components should have a suitable update description before a
      firmware is moved to stable.
      You can do this for each component on this firmware by clicking <b>Details</b>
      &raquo; <b>Update Details</b> and writing some content that is shown to users.
      Writing good quality release notes are really important as some users may be
      worried about an update that does not explain what it fixes.
    </p>
    <p class="card-text">
      For future firmware uploads, this can be set automatically using this
      in the <a href="/metainfo"><code>.metainfo.xml</code></a> file:<br/>
      <code>&lt;release&gt;&lt;description&gt;&lt;p&gt;Release note
      text&lt;/p&gt;&lt;/description&gt;&lt;/release&gt;</code>
    </p>
    <p class="card-text">
      From 1<sup>st</sup> September 2018 it will not be possible to move firmware
      files to stable that do not have an update description.
    </p>
  </div>
</div>
{% endif %}

<h1>Firmware Details</h1>
<table class="table">
  <tr class="row">
    <th class="col-sm-4 align-middle">Filename</th>
    <td class="col-sm-6 align-middle">
      <a href="/downloads/{{fw.filename}}">{{orig_filename}}</a>
{% if fw.inhibit_download %}
      <span class="text-muted">(direct link for download not available for end-users)</span>
{% endif %}
    </td>
    <td class="col-sm-2 text-right">
{% if fw.target != 'stable' or g.user.is_qa %}
      <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-sm-4 align-middle">Current Target</th>
    <td class="col-sm-6 align-middle">
      {{fw.target}}
{% if fw.target_duration.total_seconds() > 5 %}
      (moved {{format_timedelta_approx(fw.target_duration)}})
{% endif %}
    </td>
    <td class="col-sm-2 align-middle text-right">
      <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#historyModal">History</button>
{% if g.user.is_qa %}
{% if fw.target == 'private' %}
      <form method="get" action="/lvfs/firmware/{{fw.firmware_id}}/promote/embargo">
        <button class="btn btn-block btn-primary">&#8594; Embargo</button>
      </form>
{% endif %}
{% if fw.target == 'embargo' %}
      <a class="btn btn-block btn-secondary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/private" role="button">&#8592; Private</a>
      <a class="btn btn-block btn-primary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/testing" role="button">&#8594; Testing</a>
{% endif %}
{% if fw.target == 'testing' %}
      <a class="btn btn-block btn-secondary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/embargo" role="button">&#8592; Embargo</a>
      <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#promoteStableModal">&#8594; Stable</button>
{% endif %}
{% if fw.target == 'stable' %}
      <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#demoteTestingModal">&#8592; Testing</button>
{% endif %}
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Submitted</th>
    <td class="col-sm-8" colspan="2">{{fw.timestamp}}</td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Vendor ID</th>
    <td class="col-sm-8" colspan="2"><a href="{{embargo_url}}">{{fw.vendor.group_id}}</a></td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Uploader</th>
    <td class="col-sm-8" colspan="2"><a href="/lvfs/profile">{{fw.user.username}}</a></td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Uploaded from</th>
    <td class="col-sm-8" colspan="2"><code>{{fw.addr}}</code></td>
  </tr>
{% if fw.version_display %}
  <tr class="row">
    <th class="col-sm-4">Version (display only)</th>
    <td class="col-sm-4">{{fw.version_display}}</td>
    <td class="col-sm-4"></td>
  </tr>
{% endif %}
  <tr class="row">
    <th class="col-sm-4">Downloads</th>
    <td class="col-sm-6">{{fw.download_cnt}}</td>
    <td class="col-sm-2 text-right">
{% if g.user.check_capability('analyst') %}
      <a class="btn btn-block btn-info" href="/lvfs/firmware/{{fw.firmware_id}}/analytics">Analytics</a>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Reports</th>
    <td class="col-sm-6">👍 {{reports_success}} 👎 {{reports_failure}} 👋 {{reports_issue}}</td>
    <td class="col-sm-2 text-right">
{% if g.user.check_capability('analyst') %}
      <a class="btn btn-block btn-info" href="/lvfs/firmware/{{fw.firmware_id}}/analytics/reports/2">View</a>
{% endif %}
    </td>
  </tr>
</table>

<h2>Firmware Components</h2>
<table class="table">
  <tr class="row">
    <th class="col-sm-4">Name &amp; Version</th>
    <th class="col-sm-6">Component ID</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for md in fw.mds %}
  <tr class="row">
    <td class="col-sm-4">
      {{md.name}} {{md.version}}
    </td>
    <td class="col-sm-6">
      <code>{{md.appstream_id}}</code>
    </td>
    <td class="col-sm-2 text-right">
      <form method="get" action="/lvfs/component/{{md.component_id}}">
        <button class="btn btn-block btn-info">Details</button>
      </form>
    </td>
  </tr>
{% endfor %}
</table>

</div> <!-- container -->

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Remove Firmare?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Unless you are required to delete this file for legal or compliance reasons,
          removing a firmware is not recommended for the following reasons:
        </p>
        <ul>
          <li class="confirm">
            Users will only see the update descriptions for the latest released update,
            rather than all the details for unapplied updates.
          </li>
          <li class="confirm">
            Users who have installed this firmware will be unable to verify the hardware
            checksum as the information will be gone from the metadata.
          </li>
          <li class="confirm">
            Client tools have to take into account <b>all</b> the update severities of
            updates not yet installed.
            If the user has version 1.2.3 installed, 1.2.4 is a security update,
            and 1.2.5 is a low priority update we want to show the update from
            1.2.3&#8594;1.2.5 as high importance in a GUI.
          </li>
          <li class="confirm">
            Users cannot downgrade firmware versions if they encounter problems
            with the latest update.
            If downgrading to specific versions needs to be disabled for technical
            reasons, this can be handled inside the UEFI UpdateCapsule.
          </li>
          <li class="confirm">
            Anyone using old metadata and trying to download the firmware will
            get a &lsquo;404: File not found&rsquo; warning.
          </li>
          <li class="confirm">
            Any statistics for how many times the update was downloaded are also deleted.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/lvfs/firmware/{{fw.firmware_id}}/delete">Irrevocably Remove Firmware</a>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="demoteTestingModal" tabindex="-1" role="dialog" aria-labelledby="demoteTestingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoteTestingModalLabel">Important Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Demoting a firmware from stable to testing means that references to
          the file are removed from the LVFS metadata.
        </p>
        <p>
          Unless the firmware is deleted, users could still automatically
          download the file until new metadata files are downloaded.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/lvfs/firmware/{{fw.firmware_id}}/promote/testing" role="button">Demote back to testing</a>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="promoteStableModal" tabindex="-1" role="dialog" aria-labelledby="promoteStableModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promoteStableModalLabel">Important Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Pushing the firmware to the stable remote means it becomes available to
          millions of people.
        </p>
        <p>
          Only tested firmware should be pushed to stable.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/stable" role="button">Promote to stable</a>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="historyModalLabel">Target History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <table class="table">
            <tr class="row">
              <th class="col-sm-3">Timestamp</td>
              <th class="col-sm-3">Target</td>
              <th class="col-sm-6">User</td>
            </tr>
{% for ev in fw.events %}
            <tr class="row">
              <td class="col-sm-3">{{ev.timestamp}}</td>
              <td class="col-sm-3">{{ev.target}}</td>
              <td class="col-sm-6">{{ev.user.username}}</td>
            </tr>
{% endfor %}
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
