{% extends "default.html" %}
{% block title %}Download Limits{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}
<h2 class="mt-3">Download Limits</h2>

<p>
  By default there is no daily download limit set for each firmware, but for
  some firmware files a QA user may want to restrict the flow of updates
  for a few days or weeks in case of teething problems.
  Most vendors should not need to use this download limit functionality.
</p>
<p>
  Specifying a user agent like <code>gnome-software/*</code> will special-case the
  limit to only be enforced for desktop software.
  Using an empty user agent field will mean the limit will be applied for all
  clients, including web browsers.
</p>
<p>
  The response field can be used to give command line users some information
  about why the firmware is rate limited, or can be left blank to use the
  default client translated message.
</p>

<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">Downloads per day</th>
    <th class="col-sm-3">User Agent</th>
    <th class="col-sm-4">Response</th>
    <th class="col-sm-2">Action</th>
  </tr>
{% for fl in fw.limits %}
  <tr class="row">
    <td class="col-sm-3">
      {{fl.value}}
    </td>
    <td class="col-sm-3">
{% if fl.user_agent_glob %}
      <code>{{fl.user_agent_glob}}</code>
{% else %}
      <code>*</code>
{% endif %}
    </td>
    <td class="col-sm-4">
{% if fl.response %}
      <code>{{fl.response}}</code>
{% else %}
      <code>Too Many Requests</code>
{% endif %}
    </td>
    <td class="col-sm-2">
      <a class="btn btn-danger btn-block" href="/lvfs/firmware/limit/{{fl.firmware_limit_id}}/delete">Delete</a>
    </td>
  </tr>
{% endfor %}
  <form method="post" action="/lvfs/firmware/limit/add" class="form">
  <input type="hidden" name="firmware_id" value="{{fw.firmware_id}}">
  <tr class="row table-borderless">
    <td class="col-sm-3">
      <input type="number" class="form-control" name="value" min="1" max="10000" value="1000" required>
    </td>
    <td class="col-sm-3">
      <input type="text" class="form-control" name="user_agent_glob" placeholder="*">
    </td>
    <td class="col-sm-4">
      <input type="text" class="form-control" name="response" placeholder="Too Many Requests">
    </td>
    <td class="col-sm-2">
      <input class="btn btn-block btn-primary" type="submit" value="Add">
    </td>
  </tr>
  </form>
</table>
{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
