{% extends "default.html" %}
{% block title %}Firmware{% endblock %}

{% block content %}
<div class="container mt-3">
<h1>Existing Firmware</h1>

{% if fw_by_name|length == 0 %}
<p>
  No firmware has been uploaded to the &lsquo;{{g.user.group_id}}&rsquo; QA group yet.
</p>

{% else %}

<p>
  The following firmware files have been uploaded to the
  &lsquo;{{group_id}}&rsquo; QA group.
{% if not show_all %}
  By default only one firmware per device is shown in each state.
  To show all files for all devices, <a href="/lvfs/firmware_all">click here</a>.
{% endif %}
</p>

{% for name in names_sorted %}
<h2>{{name}}</h2>
<table class="table">
  <tr class="row">
    <th class="col-sm-3">Version</td>
    <th class="col-sm-3">Submitted</td>
    <th class="col-sm-3">Target</td>
    <th class="col-sm-3"></td>
  </tr>
{% for fw in fw_by_name[name] %}
{% if show_all or fw.is_newest_in_state %}
  <tr class="row">
{% if not fw.version_display or fw.mds[0].version == fw.version_display %}
    <td class="col-sm-3">{{fw.mds[0].version}}</td>
{% else %}
    <td class="col-sm-3">{{fw.version_display}} [{{fw.mds[0].version}}]</td>
{% endif %}
    <td class="col-sm-3">{{fw.timestamp}}</td>
    <td class="col-sm-3">{{fw.target}}</td>
    <td class="col-sm-3 text-right">
      <form method="get" action="/lvfs/firmware/{{fw.firmware_id}}">
      <button class="btn btn-info">Details</button>
      </form>
    </td>
  </tr>
{% endif %}
{% endfor %}
</table>
{% endfor %}

{% endif %}

</div> <!-- container -->
{% endblock %}
