{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block content %}
<div class="container mt-3">

<script src="/Chart.js"></script>
<script>
Chart.defaults.global.animation = false;
</script>

<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/firmware/{{firmware_id}}/analytics/clients">Downloads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/lvfs/firmware/{{firmware_id}}/analytics/year">Past Year</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/firmware/{{firmware_id}}/analytics/month">Past Month</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/firmware/{{firmware_id}}/analytics/reports/2">👍 Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/firmware/{{firmware_id}}/analytics/reports/3">👎 Reports</a>
    </li>
  </ul>
</nav>

<div class="container mt-3">

<h2>User Downloads</h2>
<canvas id="metadataChartMonths" width="1000" height="600"></canvas>
<script>
var ctx = document.getElementById("metadataChartMonths").getContext("2d");
var data = {
    labels: {{graph_labels|safe}},
    datasets: [
        {
            label: "Firmware",
            fillColor: "rgba(251,14,5,0.2)",
            strokeColor: "rgba(151,14,5,0.1)",
            pointColor: "rgba(151,14,5,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: {{graph_data}}
        },
    ]
};
var myLineChartMonths = new Chart(ctx).Line(data, null);
</script>
</div>

<a class="btn btn-info" href="/lvfs/firmware/{{firmware_id}}" role="button">&laquo; Back to firmware file</a>


</div> <!-- container -->
{% endblock %}
