{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-2">Address</th>
    <th class="col-sm-8">User Agent</th>
  </tr>
{% for c in clients %}
  <tr class="row">
    <td class="col-sm-2">{{c.timestamp}}</td>
    <td class="col-sm-2"><code>{{c.addr|truncate(9, False, '…')}}</code></td>
    <td class="col-sm-8">{{c.user_agent}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
