{% extends "default.html" %}
{% block title %}Firmware History{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">Timestamp</td>
    <th class="col-sm-5">User</td>
    <th class="col-sm-4">Target</td>
  </tr>
{% for ev in fw.events|sort(attribute='timestamp',reverse=True) %}
  <tr class="row">
    <td class="col-sm-3">{{ev.timestamp}}</td>
    <td class="col-sm-5">{{ev.user.username}}</td>
    <td class="col-sm-4">{{ev.remote.name}}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
