{% extends "default.html" %}
{% block title %}Firmware Components{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">Name &amp; Version</th>
    <th class="col-sm-7">Component ID</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for md in fw.mds %}
  <tr class="row">
    <td class="col-sm-3">
      {{md.name}} v{{md.version}}
    </td>
    <td class="col-sm-7">
      <code>{{md.appstream_id}}</code>
    </td>
    <td class="col-sm-2 text-right">
      <form method="get" action="/lvfs/component/{{md.component_id}}">
        <button class="btn btn-block btn-info">Details</button>
      </form>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
