{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}
{% if reports|length > 0 %}
<table class="table">
  <tr class="row">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-1">State</th>
    <th class="col-sm-8">Full Report</th>
    <th class="col-sm-1">&nbsp;</th>
  </tr>
{% for r in reports %}
  <tr class="row">
    <td class="col-sm-2">{{r.timestamp}}</td>
    <td class="col-sm-1">
{% if r.state == 0 %}
      <p class="text-warning">Unknown</p>
{% elif r.state == 1 %}
      <p class="text-warning">Pending</p>
{% elif r.state == 2 %}
      <p class="text-success">Success</p>
{% elif r.state == 3 %}
{% if r.issue_id > 0 %}
      <a class="text-info" href="/lvfs/issue/{{r.issue_id}}/details">Triaged</a>
{% else %}
      <p class="text-danger">Failed</p>
{% endif %}
{% else %}
      <p class="text-danger">Invalid!</p>
{% endif %}
    </td>
    <td class="col-sm-8"><code>{{r.to_kvs()}}</code></td>
    <td class="col-sm-1 text-right">
{% if g.user.check_acl('@admin') %}
      <a class="btn btn-danger" href="/lvfs/report/{{r.report_id}}/delete">Delete</a>
{% endif %}
    </td>
  </tr>
{% endfor %}
</table>

{% else %}

<div class="alert alert-light" role="alert">
  No reports found.
</div>

{% endif %}

{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
