{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'firmware-md-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' and not g.user.check_acl('@admin') %}
<div class="alert alert-danger mt-1" role="alert">
  This firmware has <strong>already been pushed to stable</strong>.
  Move the firmware back to embargo or private to edit the text.
</div>
{% else %}
<div class="alert alert-info mt-1" role="alert">
  Changing this information will <strong>only</strong> modify the metadata when the
  firmware changes state, e.g. from <em>testing</em> to <em>stable</em>.
</div>
{% endif %}

{% if not md.check_acl('@modify-updateinfo') %}
<table class="table">
{% if md.release_urgency %}
  <tr class="row table-borderless">
    <th class="col-sm-3">Release Urgency</th>
    <td class="col-sm-9">{{md.release_urgency}}</td>
  </tr>
{% endif %}
  <tr class="row">
    <th class="col-sm-3">Update Description</th>
    <td class="col-sm-9">{{md.release_description}}</td>
  </tr>
  <tr class="row">
    <th class="col-sm-3">Update Requirements</th>
    <td class="col-sm-9">{{md.requirements|join(',')}}</td>
  </tr>
</table>

{% else %}

{% if md.problems %}
<div class="mt-3 alert alert-warning" role="alert">
  <strong>Release is not valid!</strong>
  <ul>
{% for problem in md.problems %}
    <li>{{problem.description}}</li>
{% endfor %}
  </ul>
</div>
{% endif %}

<form method="post" action="/lvfs/component/{{md.component_id}}/modify">

<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">Update Urgency</th>
    <td class="col-sm-9">
      <select class="form-control" id="urgency" name="urgency" required>
        <option value="unknown" {{ 'selected' if md.release_urgency == 'unknown' }}>Unknown</option>
        <option value="low" {{ 'selected' if md.release_urgency == 'low' }}>Low</option>
        <option value="medium" {{ 'selected' if md.release_urgency == 'medium' }}>Medium</option>
        <option value="high" {{ 'selected' if md.release_urgency == 'high' }}>High</option>
        <option value="critical" {{ 'selected' if md.release_urgency == 'critical' }}>Critical</option>
      </select>
    </td>
  </tr>
  <tr class="row table-borderless">
    <th class="col-sm-3">Release Notes</th>
    <td class="col-sm-9">
      <textarea class="form-control" name="description" id="description" cols="100" rows="15">{{md.release_description if md.release_description}}</textarea>
      <p class="text-secondary">
        Text is formatted with
        <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
        Only paragraph and lists are currently supported.
      </p>
    </td>
  </tr>
  <tr class="row table-borderless">
    <th class="col-sm-3">Install Duration</th>
    <td class="col-sm-9">
      <input class="form-control" type="number" name="install_duration" min="0" max="3600" step="5" value="{{md.install_duration}}"/>
      <p class="text-secondary">
        The value here can be approximate and is given in seconds.
        For updates requiring a reboot the install duration should include the
        time to POST the system both before and after the update has run.
        A value of zero can be used to signify <em>unknown</em>.
      </p>
    </td>
  </tr>
</table>
  <input class="btn btn-primary" type="submit" value="Save"/>
</form>

<h3 class="mt-3">Release Notes Example:</h3>
<pre class="p-2 border border-info rounded">
This stable release fixes the following issues:

 * Disable auto-sleep when the device is connected to a USB port
 * Improve performance of the analog sticks

Some new functionality has also been added:

 * Add support for Joystick Mode to OS X
</pre>

{% endif %}
{% endblock %}

{% block breadcrumb %}{% include 'firmware-md-breadcrumb.html' %}{% endblock %}
