{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js" integrity="sha256-t3+U9BqykoMN9cqZmJ5Z53TvPv4V7S9AmjUcIWNNyxo=" crossorigin="anonymous"></script>
<script>
Chart.defaults.global.animation = false;
</script>

<canvas id="metadataChartMonths" width="1000" height="600"></canvas>
<script>
var ctx = document.getElementById("metadataChartMonths").getContext("2d");
var data = {
    labels: {{graph_labels|safe}},
    datasets: [
        {
            label: "Firmware",
            borderColor: "rgba(20,120,220,0.2)",
            backgroundColor: "rgba(20,120,220,0.2)",
            data: {{graph_data}}
        },
    ]
};
new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend: {
            display: false
        }
    }
});
</script>

{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
