{% extends "default.html" %}
{% block title %}Firmware Component Keywords{% endblock %}

{% block nav %}{% include 'firmware-md-nav.html' %}{% endblock %}

{% block content %}
<table class="table">
{% for kw in md.keywords %}
  <tr class="row {% if kw == md.keywords[0] %}table-borderless{% endif %}">
    <td class="col-sm-10"><pre>{{kw.value}}</pre></td>
    <td class="col-sm-2">
{% if kw.priority < 5 %}
      <a class="btn btn-block btn-danger" href="/lvfs/component/keyword/{{kw.keyword_id}}/delete">Delete</a>
{% else %}
      <a class="btn btn-block btn-danger disabled" href="#">Delete</a>
{% endif %}
    </td>
  </tr>
{% endfor %}
  <form method="post" action="/lvfs/component/keyword/add" class="form">
  <tr class="row table-borderless">
    <td class="col-sm-10">
      <input type="hidden" name="component_id" value="{{md.component_id}}">
      <input type="text" class="form-control" name="value" required>
    </td>
    <td class="col-sm-2">
      <input class="btn btn-block btn-primary" type="submit" value="Add">
    </td>
  </tr>
  </form>
</table>
{% endblock %}

{% block breadcrumb %}{% include 'firmware-md-breadcrumb.html' %}{% endblock %}
