{% extends "default.html" %}
{% block title %}Firmware Component Keywords{% endblock %}

{% block content %}
<div class="container mt-3">

<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/component/{{md.component_id}}">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/component/{{md.component_id}}/update">Update Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lvfs/component/{{md.component_id}}/requires">Requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/lvfs/component/{{md.component_id}}/keywords">Search Keywords</a>
    </li>
  </ul>
</nav>

<div class="container mt-3">

  <h3>Search Keywords</h3>
  <table class="table mt-3">
    <tr class="tr">
      <th class="col-sm-3">Keyword</th>
      <th class="col-sm-3">&nbsp;</th>
    </tr>
{% for kw in md.keywords %}
    <tr class="tr">
      <td class="col-sm-3"><pre>{{kw.value}}</pre></td>
      <td class="col-sm-3">
{% if kw.priority < 5 %}
        <a class="btn btn-block btn-danger" href="/lvfs/component/keyword/{{kw.keyword_id}}/delete">Delete</a>
{% else %}
        <a class="btn btn-block btn-danger disabled" href="#">Delete</a>
{% endif %}
      </td>
    </tr>
{% endfor %}
    <form method="post" action="/lvfs/component/keyword/add" class="form">
    <tr class="tr">
      <td>
        <input type="hidden" name="component_id" value="{{md.component_id}}">
        <input type="text" class="form-control" name="value" required>
      </td>
      <td class="col-sm-3">
        <input class="btn btn-block btn-primary" type="submit" value="Add">
      </td>
    </tr>
    </form>
  </table>
</div>

</div> <!-- container -->
{% endblock %}
