{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'firmware-md-nav.html' %}{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">ID</th>
    <td class="col-sm-9"><code>{{md.appstream_id}}</code></td>
  </tr>
  <tr class="row">
    <th class="col-sm-3">Name</th>
    <td class="col-sm-9"><code>{{md.name}}</code></td>
  </tr>
  <tr class="row">
    <th class="col-sm-3">Summary</th>
    <td class="col-sm-9"><code>{{md.summary}}</code></td>
  </tr>
  <tr class="row">
    <th class="col-sm-3">Version</th>
    <td class="col-sm-9"><code>{{md.version_display}}</code></td>
  </tr>
{% for guid in md.guids %}
  <tr class="row">
    <th class="col-sm-3">Device GUID</th>
    <td class="col-sm-9"><code>{{guid.value}}</code></td>
  </tr>
{% endfor %}
  <tr class="row">
    <th class="col-sm-3">Download Size</th>
    <td class="col-sm-9">{{format_size(md.release_download_size)}}</td>
  </tr>
  <tr class="row">
    <th class="col-sm-3">Installed Size</th>
    <td class="col-sm-9">{{format_size(md.release_installed_size)}}</td>
  </tr>
{% if md.priority %}
  <tr class="row">
    <th class="col-sm-3">Priority</th>
    <td class="col-sm-9">{{md.priority}}</td>
  </tr>
{% endif %}
{% if md.screenshot_url %}
  <form class="form-inline" method="post" action="/lvfs/component/{{md.component_id}}/modify" method="POST">
  <tr class="row">
    <th class="col-sm-3">Screenshot URL</th>
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
    <td class="col-sm-7">
      <input type="text" class="form-control" name="screenshot_url" value="{{md.screenshot_url if md.screenshot_url}}"/>
    </td>
    <td class="col-sm-2">
      <input type="submit" class="btn btn-secondary btn-block" value="Set"/>
    </td>
{% else %}
    <td class="col-sm-7"><code>{{md.screenshot_url}}</code></td>
{% endif %}
  </tr>
  </form>
{% endif %}
{% if md.screenshot_caption %}
  <form class="form-inline" method="post" action="/lvfs/component/{{md.component_id}}/modify" method="POST">
  <tr class="row">
    <th class="col-sm-3">Screenshot Caption</th>
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
    <td class="col-sm-7">
      <textarea class="form-control" name="screenshot_caption" cols="100" rows="3">{{md.screenshot_caption if md.screenshot_caption}}</textarea>
    </td>
    <td class="col-sm-2">
      <input type="submit" class="btn btn-secondary btn-block" value="Set"/>
    </td>
{% else %}
    <td class="col-sm-9"><code>{{md.screenshot_caption}}</code>
{% endif %}
  </tr>
  </form>
{% endif %}
</table>
{% endblock %}

{% block breadcrumb %}{% include 'firmware-md-breadcrumb.html' %}{% endblock %}
