{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'firmware-md-nav.html' %}{% endblock %}

{% block content %}
<h3>Device Software Versions</h3>
{% if md.check_acl('@modify-requirements') %}
{% if md.fw.remote.name == 'stable' %}
<div class="alert alert-danger mt-1" role="alert">
  This firmware has <strong>already been pushed to stable</strong>.
  The admin user has to manually rebuild the metadata to propagate changes.
</div>
{% else %}
<div class="alert alert-info mt-1" role="alert">
  Changing this information will <strong>only</strong> modify the metadata when the
  firmware changes state, e.g. from <em>testing</em> to <em>stable</em>.
</div>
{% endif %}
{% endif %}
<form class="form-inline" action="/lvfs/component/{{md.component_id}}/requirement/add" method="POST" >
  <input type="hidden" name="kind" value="firmware">
  <input type="hidden" name="value" value="bootloader">
  <div class="table">
    <div class="row">
      <div class="col-sm-3">
        Require bootloader version:
      </div>
      {% set rq = md.find_req('firmware','bootloader') %}
      <div class="col-sm-7">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
        <input type="text" class="form-control" name="version" value="{{rq.version}}"/>
      </div>
{% if md.check_acl('@modify-requirements') %}
      <div class="col-sm-2 text-right">
        <input type="submit" class="btn btn-secondary btn-block" value="Set"/>
      </div>
{% endif %}
    </div>
  </div>
</form>

<form class="form-inline mt-2" action="/lvfs/component/{{md.component_id}}/requirement/add" method="POST" >
  <input type="hidden" name="kind" value="firmware">
  <input type="hidden" name="value" value="firmware">
  <div class="table">
    <div class="row">
      <div class="col-sm-3">
        Require existing firmware version:
      </div>
      {% set rq = md.find_req('firmware') %}
      <div class="col-sm-7">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
        <input type="text" class="form-control" name="version" value="{{rq.version}}"/>
      </div>
{% if md.check_acl('@modify-requirements') %}
       <div class="col-sm-2 text-right">
        <input type="submit" class="btn btn-secondary btn-block" value="Set"/>
      </div>
{% endif %}
    </div>
  </div>
</form>

<h3 class="mt-3">Computer Software Versions</h3>
<form class="form-inline mt-2" action="/lvfs/component/{{md.component_id}}/requirement/add" method="POST" >
  <input type="hidden" name="kind" value="id">
  <input type="hidden" name="value" value="org.freedesktop.fwupd">
  <div class="table">
    <div class="row">
      <div class="col-sm-3">
        Require fwupd version:
      </div>
      {% set rq = md.find_req('id','org.freedesktop.fwupd') %}
      <div class="col-sm-7">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
        <input type="text" class="form-control" name="version" value="{{rq.version}}"/>
      </div>
{% if md.check_acl('@modify-requirements') %}
      <div class="col-sm-2 text-right">
        <input type="submit" class="btn btn-secondary btn-block" value="Set"/>
      </div>
{% endif %}
    </div>
  </div>
</form>

<h3 class="mt-3">Computer Hardware IDs</h3>
<table class="table">
{% for rq in md.requirements %}
{% if rq.kind == 'hardware' %}
  <tr class="row">
    <td class="col-sm-10">
      <code>{{rq.value}}</code>
    </td>
    <td class="col-sm-2 text-right">
      <a class="btn btn-secondary" href="/lvfs/component/{{rq.md.component_id}}/requirement/delete/{{rq.requirement_id}}" role="button">&ndash;</a>
    </td>
  </tr>
{% endif %}
{% endfor %}
{% if md.requirements|length == 0 %}
  <p class="text-secondary">
    No restrictions to a specific machine.
  </p>
{% endif %}
{% if md.check_acl('@modify-requirements') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="/lvfs/component/{{md.component_id}}/requirement/add" method="POST" >
      <td class="col-sm-10">
        <input type="hidden" name="kind" value="hardware">
        <input type="text" class="form-control" name="value" placeholder="b0f340b1-361e-55f9-b691-bc46d0921ea8"/>
        <p class="text-secondary">
          Add GUIDs here to restrict the update to a specific machine.
        </p>
      </td>
      <td class="col-sm-2">
        <input type="submit" class="btn btn-secondary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>
{% endblock %}

{% block breadcrumb %}{% include 'firmware-md-breadcrumb.html' %}{% endblock %}
