{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'firmware-md-nav.html' %}{% endblock %}

{% block content %}

{% if not g.user.check_capability('qa') %}
<table class="table">
{% if md.release_urgency %}
  <tr><th>Release Urgency</th><td>{{md.release_urgency}}</td></tr>
{% endif %}
  <tr><th>Update Description</th><td>{{md.release_description|safe}}</td></tr>
  <tr><th>Update Requirements</th><td>{{md.requirements|join(',')}}</td></tr>
</table>

{% else %}

{% if fw.remote.name == 'stable' %}
<div class="alert alert-danger mt-1" role="alert">
  This firmware has <strong>already been pushed to stable</strong>.
  The admin user has to manually rebuild the metadata to propagate changes.
</div>
{% else %}
<div class="alert alert-info mt-1" role="alert">
  Changing this information will <strong>only</strong> modify the metadata when the
  firmware changes state, e.g. from <em>testing</em> to <em>stable</em>.
</div>
{% endif %}
<form method="post" action="/lvfs/firmware/{{fw.firmware_id}}/modify">
  <div class="form-group">
    <label for="urgency">Urgency</label>
    <select class="form-control" id="urgency" name="urgency" required>
      <option value="unknown" {{ 'selected' if md.release_urgency == 'unknown' }}>Unknown</option>
      <option value="low" {{ 'selected' if md.release_urgency == 'low' }}>Low</option>
      <option value="medium" {{ 'selected' if md.release_urgency == 'medium' }}>Medium</option>
      <option value="high" {{ 'selected' if md.release_urgency == 'high' }}>High</option>
      <option value="critical" {{ 'selected' if md.release_urgency == 'critical' }}>Critical</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" cols="100" rows="5">{{md.release_description|safe if md.release_description}}</textarea>
    <p class="text-secondary">Unformatted text will be automatically converted to
      <a href="http://www.freedesktop.org/software/appstream/docs/chap-Metadata.html#tag-description">
      AppStream XML description markup</a>.
    </p>
  </div>
  <input class="btn btn-primary" type="submit" value="Save"/>
</form>

{% endif %}
{% endblock %}

{% block breadcrumb %}{% include 'firmware-md-breadcrumb.html' %}{% endblock %}
