{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block content %}
<div class="container mt-3">
<h1>Firmware Details</h1>

<table class="table">
  <tr class="row">
    <th class="col-sm-4 align-middle">Filename</th>
    <td class="col-sm-4 align-middle"><a href="/downloads/{{fw.filename}}">{{orig_filename}}</a></td>
    <td class="col-sm-4 text-right">
{% if fw.target != 'stable' or g.user.is_qa %}
      <form method="get" action="/lvfs/firmware/{{fw.firmware_id}}/delete">
      <button class="btn btn-danger">Delete</button>
      </form>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-sm-4 align-middle">Current Target</th>
    <td class="col-sm-4 align-middle">{{fw.target}}</td>
    <td class="col-sm-4 align-middle text-right">
{% if g.user.is_qa %}
{% if fw.target == 'private' %}
      <form method="get" action="/lvfs/firmware/{{fw.firmware_id}}/promote/embargo">
        <button class="btn btn-primary">&#8594; Embargo</button>
      </form>
{% endif %}
{% if fw.target == 'embargo' %}
      <a class="btn btn-secondary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/private" role="button">&#8592; Private</a>
      <a class="btn btn-primary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/testing" role="button">&#8594; Testing</a>
{% endif %}
{% if fw.target == 'testing' %}
      <a class="btn btn-secondary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/embargo" role="button">&#8592; Embargo</a>
      <a class="btn btn-primary" href="/lvfs/firmware/{{fw.firmware_id}}/promote/stable" role="button">&#8594; Stable</a>
{% endif %}
{% if fw.target == 'stable' %}
      <a class="btn btn-danger" href="/lvfs/firmware/{{fw.firmware_id}}/promote/testing" role="button">&#8592; Testing</a>
{% endif %}
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Submitted</th>
    <td class="col-sm-8" colspan="2">{{fw.timestamp}}</td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Group</th>
    <td class="col-sm-8" colspan="2"><a href="{{embargo_url}}">{{fw.group_id}}</a></td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Uploaded from</th>
    <td class="col-sm-8" colspan="2"><code>{{fw.addr}}</code></td>
  </tr>
{% if fw.version_display %}
  <tr class="row">
    <th class="col-sm-4">Version (display only)</th>
    <td class="col-sm-4">{{fw.version_display}}</td>
    <td class="col-sm-4"></td>
  </tr>
{% endif %}
  <tr class="row">
    <th class="col-sm-4">Downloads</th>
    <td class="col-sm-4">{{fw.download_cnt}}</td>
    <td class="col-sm-4 text-right">
      <form method="get" action="/lvfs/firmware/{{fw.firmware_id}}/analytics">
        <button class="btn btn-info">Logs</button>
      </form>
    </td>
  </tr>
  <tr class="row">
    <th class="col-sm-4">Reports</th>
    <td class="col-sm-4">👍 {{reports_success}} 👎 {{reports_failure}}</td>
    <td class="col-sm-4 text-right">
      <form method="get" action="/lvfs/firmware/{{fw.firmware_id}}/analytics/reports/2">
        <button class="btn btn-info">View</button>
      </form>
    </td>
  </tr>
</table>

<h2>Firmware Components</h2>
<table class="table">
  <tr class="row">
    <th class="col-sm-4">Name &amp; Version</th>
    <th class="col-sm-8" colspan="2">Component ID</th>
  </tr>
{% for md in fw.mds %}
  <tr class="row">
    <td class="col-sm-4">
      {{md.name}} {{md.version}}
    </td>
    <td class="col-sm-4">
      <code>{{md.cid}}</code>
    </td>
    <td class="col-sm-4 text-right">
      <form method="get" action="/lvfs/firmware/{{fw.firmware_id}}/component/{{md.cid}}">
        <button class="btn btn-info">Details</button>
      </form>
    </td>
  </tr>
{% endfor %}
</table>

</div> <!-- container -->
{% endblock %}
