{% extends "default.html" %}
{% block title %}Group List{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
{% if groups|length > 0 %}
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column mt-3">
{% for q in groups %}
        <li class="nav-item">
          <a class="nav-link" href="/lvfs/group/{{q.group_id}}/admin">{{q.group_id}}</a>
        </li>
{% endfor %}
      </ul>
    </nav>
{% endif %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Create a new group</h1>
      <form method="post" action="/lvfs/group/add" class="form-inline">
        <div class="input-group">
          <input class="form-control" type="text" size="20" name="group_id" placeholder="Group ID" required>
          <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="Add">
          </div>
        </div>
      </form>
    </main>
  </div>
</div>

{% endblock %}
