{% extends "default.html" %}
{% block title %}User List{% endblock %}

{% block page_header %}
<h1>Existing Groups</h1>
{% endblock %}

{% block content %}
<table>
{% for q in groups %}
<tr class="history">
  <td>
    <a href="/lvfs/group/{{q.group_id}}/admin"><img width="32px" src="/system-users-symbolic.svg"/></a>
  </td>
  <td>{{q.group_id}}</td>
</tr>
{% endfor %}

</table>

<h2>Create a new group</h2>
<form method="post" action="/lvfs/group/add">
<table class="history">
  <tr>
    <td>Group ID</td>
    <td><input type="text" size="20" name="group_id" placeholder="example" required></td>
    <td>
      <input type="submit" style="width: 6em" value="Add">
    </td>
  </tr>
</table>
</form>

{% endblock %}
