{% extends "default.html" %}
{% block title %}User List{% endblock %}

{% block content %}
<div class="container-fluid">

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Existing Groups</li>
        <!--<li class="active"><a href="#">Link</a></li>-->
{% for q in groups %}
        <li><a href="/lvfs/group/{{q.group_id}}/admin">{{q.group_id}}</a></li>
{% endfor %}
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span9">
    <div class="">
      <h2>Create a new group</h2>
      <form method="post" action="/lvfs/group/add" class="form-horizontal">
        <input type="text" size="20" name="group_id" placeholder="Group ID" required>
        <input class="btn btn-primary" type="submit" value="Add">
      </form>
    </div>
  </div><!--/span-->
</div><!--/row-->

</div> <!-- container -->
{% endblock %}
