{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block content %}
<div class="container mt-3">

{% if users|length == 0 %}
<h1>Empty group ‘{{q.group_id}}’</h1>
{% else %}
<h1>Members of group ‘{{q.group_id}}’</h1>
<table class="table">
  <tr>
    <th>Username</th>
    <th>Vendor Name</th>
    <th>Contact Email</th>
  </tr>
{% for u in users %}
  <tr>
    <td><a href="/lvfs/user/{{u.username}}/admin"><code>{{u.username}}</code></a></td>
    <td>{{u.display_name}}</td>
    <td><a href="mailto:{{u.email}}"><code>{{u.email}}</code></a></td>
  </tr>
{% endfor %}
</table>
{% endif %}

<h2>Group restrictions</h2>
<p>
  Due to the sensitive nature of providing firmware only vendors can install
  firmware on their own devices.
  This restriction is optional and can be separated with comma:
</p>
<form method="post" action="/lvfs/group/{{q.group_id}}/modify_by_admin" class="form-horizontal">

  <div class="input-group">
    <input type="text" size="80" name="vendor_ids" value="{{','.join(q.vendor_ids)}}">
    <div class="input-group-append">
      <input type="submit" class="btn btn-primary" value="Modify">
    </div>
    <div class="input-group-append">
{% if g.user.check_capability('admin') %}
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
    </div>
  </div>
</form>

</div> <!-- container -->

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Group?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Unless you are required to delete a group for legal or compliance reasons,
          removing a group is not recommended for the following reasons:
        </p>
        <ul>
          <li class="confirm">
            Any users in this QA group will be disabled.
          </li>
          <li class="confirm">
            Any statistics and logs for this group are also deleted.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/lvfs/group/{{q.group_id}}/delete">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
