{% extends "default.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% if server_warning %}
<div class="container mt-3">
  <div class="alert alert-warning" role="alert">
    <b>WARNING:</b>{{server_warning}}
  </div>
</div>
{% endif %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Linux Vendor Firmware Service</h1>
    <p>
      The Linux Vendor Firmware Service is a secure portal which allows
      hardware vendors to upload firmware updates.
      This site is used by all major Linux distributions to provide metadata
      for clients such as fwupdmgr and GNOME Software.
      There is no charge to vendors for the hosting or distribution of content.
    </p>
  </div>
</div>

<div class="container">

  <div class="card mb-3">
    <h3 class="card-header list-group-item-warning">
      Looking for firmware to fix the Spectre security issue?
      <img src="/img/spectre.min.svg" alt="spectre logo" height="32"/>
    </h3>
    <div class="card-body">
      <p class="card-text">
        The LVFS only redistributes vendor-provided firmware, and also relies on
        the vendor writing release notes that accurately describe the firmware update.
        If your hardware vendor is <a class="text-dark" href="/vendorlist">not already using the LVFS</a>
        you should write to them and ask them where to get the new firmware from.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Hardware Vendors</h2>
      <p>
        Hardware vendors upload redistributable firmware to the LVFS site
        packaged up in an industry-standard <code>.cab</code> archive along
        with a Linux-specific metadata file.
      </p>
      <p><a class="btn btn-secondary" href="/vendors" role="button">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>End Users</h2>
      <p>
        The fwupd daemon allows session software to update device firmware on
        the local machine.
        Designed for desktops, it is also usable on phones, tablets and on servers.
      </p>
      <p><a class="btn btn-secondary" href="/users" role="button">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Developers</h2>
      <p>
        The LVFS and fwupd daemon are Open Source projects with contributions
        from dozens of people from many different companies.
        Plugins allow many different update protocols to be supported.
      </p>
      <p><a class="btn btn-secondary" href="/developers" role="button">More information &raquo;</a></p>
    </div>
  </div>

</div> <!-- /container -->

{% if default_admin_password %}
<div class="container mt-3">
  <div class="alert alert-danger" role="alert">
    <b>WARNING</b> the default admin password <code>Pa$$w0rd</code> is still in use!
  </div>
</div>
{% endif %}

{% endblock %}
