{% extends "default.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

<h1 class="banner">Linux Vendor<br/>Firmware Service</h1>

<p>
  The Linux Vendor Firmware Service is a secure portal which allows
  hardware vendors to upload <a href="/lvfs/devicelist">firmware updates</a>.
  Files can be uploaded privately and optionally embargoed until a specific date.
</p>
<p>
  This site is used by all major Linux distributions to provide metadata
  for clients such as fwupdmgr and GNOME Software.
  To upload firmware please login, or <a href="/lvfs/newaccount">request a new account</a>.
  There is no charge to vendors for the hosting or distribution of content.
</p>

{% if default_admin_password %}
<p>
  <b>WARNING</b> the default admin password <code>Pa$$w0rd</code> is still in use!
</p>
{% endif %}

</div> <!-- container -->
{% endblock %}
