{% extends "default.html" %}
{% block title %}Issues{% endblock %}

{% block content %}
<h1>Known Issues</h1>

{% if issues|length == 0 %}
<p>
  No issues have been created.
</p>

{% else %}

<table class="table">
  <tr class="row">
    <th class="col-sm-3">Name</th>
    <th class="col-sm-5">Description</th>
    <th class="col-sm-1">Priority</th>
    <th class="col-sm-2">Group</th>
    <th class="col-sm-1">&nbsp;</th>
  </tr>
{% for issue in issues %}
  <tr class="row">
    <td class="col-sm-3">
{% if issue.enabled %}
      {{issue.name}} <a href="{{issue.url}}">[link]</a>
{% else %}
      {{issue.name}} <a href="{{issue.url}}">[link]</a><p class="text-secondary">[disabled]</p>
{% endif %}
    </td>
    <td class="col-sm-5">{{issue.description}}</td>
    <td class="col-sm-1">
      <h3 class="text-center"><span class="badge badge-secondary">{{issue.priority}}</span></h3>
{% if g.user.check_for_issue(issue) %}
{% if issue == issues[0] %}
      <a class="btn btn-sm btn-outline-dark btn-block" href="/lvfs/issue/{{issue.issue_id}}/priority/down">▼</a>
{% elif issue == issues[issues|length-1] %}
      <a class="btn btn-sm btn-outline-dark btn-block" href="/lvfs/issue/{{issue.issue_id}}/priority/up">▲</a>
{% else %}
      <div class="btn-group-vertical btn-block" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-outline-dark mt-1" href="/lvfs/issue/{{issue.issue_id}}/priority/up">▲</a>
        <a class="btn btn-sm btn-outline-dark" href="/lvfs/issue/{{issue.issue_id}}/priority/down">▼</a>
      </div>
{% endif %}
{% endif %}
    </td>
    <td class="col-sm-1">{{issue.group_id}}</td>
    <td class="col-sm-2"><a class="btn btn-info btn-block" href="/lvfs/issue/{{issue.issue_id}}/details" role="button">Details &raquo;</a></td>
  </tr>
{% endfor %}
</table>

{% endif %}

<hr/>

<h2>Create a new issue</h2>
<form method="post" action="/lvfs/issue/add" class="form-inline">
  <div class="table">
    <div class="row">
      <div class="col-sm-10">
        <input class="form-control" type="text" size="100" name="url" placeholder="Issue URL" required>
      </div>
      <div class="col-sm-2">
        <input class="btn btn-primary btn-block" type="submit" value="Add">
      </div>
    </div>
  </div>
</form>
{% endblock %}
