{% extends "default.html" %}
{% block title %}Issue Details{% endblock %}

{% block nav %}{% include 'issue-nav.html' %}{% endblock %}

{% block content %}
<h2>Issue Details</h2>
<form method="post" action="/lvfs/issue/{{issue.issue_id}}/modify">
  <div class="form-group">
    <label for="group_id">URL:</label>
    <input type="text" class="form-control" name="url" value="{{issue.url}}" required {{'disabled' if not g.user.check_for_issue(issue)}}>
  </div>
  <div class="form-group">
    <label for="group_id">Group:</label>
    <input type="text" class="form-control" name="group_id" value="{{issue.vendor.group_id}}" disabled>
  </div>
  <div class="form-group">
    <label for="group_id">Name:</label>
    <input type="text" class="form-control" name="name" value="{{issue.name}}" required {{'disabled' if not g.user.check_for_issue(issue)}}>
  </div>
  <div class="form-group">
    <label for="display_name">Description:</label>
    <input type="text" class="form-control" name="description" value="{{issue.description}}" required {{'disabled' if not g.user.check_for_issue(issue)}}>
  </div>
  <div class="form-group">
    <label for="enabled">
      <input class="checkbox" type="checkbox" name="enabled" value="1" {{'checked' if issue.enabled}} {{'disabled' if not g.user.check_for_issue(issue)}}/>
      Enabled
    </label>
  </div>
{% if g.user.check_for_issue(issue) %}
  <input type="submit" class="btn btn-primary btn-large" class="submit" value="Modify">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
</form>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Issue?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, issues can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/lvfs/issue/{{issue.issue_id}}/delete" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/lvfs/issue/all">Issues</a></li>
    <li class="breadcrumb-item active" aria-current="page">Issue #{{issue.issue_id}}</li>
  </ol>
</nav>
{% endblock %}
