{% extends "default.html" %}
{% block title %}Issue Details{% endblock %}

{% block nav %}{% include 'issue-nav.html' %}{% endblock %}

{% block content %}
<h2>Reports matching this issue ({{reports_cnt}})</h2>
{% if reports_cnt > 0 %}
<table class="table">
  <tr class="row">
    <th class="col-sm-2">Timestamp</th>
    <th class="col-sm-10">Full Report</th>
  </tr>
{% for r in reports %}
  <tr class="row">
    <td class="col-sm-2">{{r.timestamp}}</td>
    <td class="col-sm-10"><code>{{r.to_kvs()}}</code></td>
  </tr>
{% endfor %}
{% for r in reports_hidden %}
  <tr class="row">
    <td class="col-sm-2">{{r.timestamp}}</td>
    <td class="col-sm-10"><code>JSON not available for security level</code></td>
  </tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-light" role="alert">
  None!
</div>
{% endif %}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/lvfs/issue/all">Issues</a></li>
    <li class="breadcrumb-item active" aria-current="page">Issue #{{issue.issue_id}}</li>
  </ol>
</nav>
{% endblock %}
