{% extends "default.html" %}
{% block title %}Home{% endblock %}

<!-- no navigation -->
{% block navigation %}{% endblock %}

{% block content %}
<h1 class="banner">Linux Vendor<br>Firmware Service</h1>
<h2>Please Login</h2>
<p>
  The Linux Vendor Firmware Service is a secure portal which allows
  hardware vendors to upload <a href="/lvfs/devicelist">firmware updates</a>.
  Files can be uploaded privately and optionally embargoed until a specific date.
</p>
<p>
  This site is used by all major Linux distributions to provide metadata
  for clients such as fwupdmgr and GNOME Software.
  To upload firmware please login, or <a href="/lvfs/newaccount">request a new account</a>.
</p>
<form method="POST" action="/lvfs/login">
<table class="upload">
  <tr>
    <th class="upload"><label for="username">Username:</label></td>
    <td><input type="text" name="username" required></td>
  </tr>
  <tr>
    <th class="upload"><label for="password">Password:</label></td>
    <td><input type="password" name="password" required></td>
  </tr>
</table>
<input type="submit" class="submit" value="Login">
</form>

{% endblock %}
