{% extends "default.html" %}
{% block title %}Firmware{% endblock %}

{% block content %}
<div class="container mt-3">
<h1>Metadata</h1>
<p>
  The metadata URLs can be used in <code>/etc/fwupd/remotes.d</code>
  to perform end-to-end tests. It is important to not share the
  embargo URL with external users if you want the firmware to remain hidden
  from the public.
  You also may need to do <code>fwupdmgr refresh</code> on each
  client to show new updates.
</p>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Public</th>
    <th>State</th>
    <th>URL</th>
    <th>Custom Remote</th>
  </tr>
  <tr>
    <td>Stable</td>
    <td><b>Yes</b></td>
    <td><b>{{ 'Dirty' if remotes['stable'].is_dirty else 'OK' }}</b></td>
    <td><a href="/downloads/firmware.xml.gz">firmware.xml.gz</td>
    <td class="text-muted">not required</td>
  </tr>
  <tr>
    <td>Testing</td>
    <td><b>Yes</b></td>
    <td><b>{{ 'Dirty' if remotes['testing'].is_dirty else 'OK' }}</b></td>
    <td><a href="/downloads/firmware-testing.xml.gz">firmware-testing.xml.gz</td>
    <td class="text-muted">not required</td>
  </tr>
{% for v in vendors %}
  <tr>
    <td>Embargoed for &lsquo;{{v.group_id}}&rsquo;</td>
    <td><b>No</b></td>
    <td><b>{{ 'Dirty' if remotes['embargo-' + v.group_id].is_dirty else 'OK' }}</b></td>
    <td><a href="/downloads/{{ 'firmware-%s.xml.gz' % format_qa_hash(v.group_id) }}">{{ 'firmware-%s...xml.gz' % format_qa_hash(v.group_id)[0:8] }}</td>
    <td><code><a href="/lvfs/metadata/{{v.group_id}}">{{v.group_id}}-embargo.conf</a></code></td>
  </tr>
{% endfor %}
</table>

{% if not g.user.is_qa %}
<div class="alert alert-warning mt-1" role="alert">
  End-to-end tests using the metadata can <strong>only</strong> be used with a
  custom <code>/etc/fwupd/remotes.d/{{g.user.vendor.group_id}}-embargo.conf</code> file as this user account does not
  yet have permission to push to <em>testing</em> or <em>stable</em>.
</div>
{% endif %}

{% if g.user.check_capability('admin') %}
<!-- admin only actions -->
<h2>Actions</h2>
<p>
  This rebuilds metadata for all targets and QA groups.
</p>
<form method=\"get\" action="/lvfs/metadata/rebuild">
<button class="btn btn-danger">Rebuild Metadata</button>
</form>
{% endif %}

</div> <!-- container -->
{% endblock %}
