{% extends "default.html" %}
{% block title %}New Account{% endblock %}

{% block content %}
<h1>Applying for a new account</h1>
<p>
  Vendors who can submit automatic firmware updates are in a privileged position where files
  can be installed on end-user systems without authentication.
  This means we have to do careful checks on new requests, which may take a few days to complete.
</p>

<p>
  Three classes of user can be created for your organisation on the LVFS:
</p>
<ul>
  <li>Unprivileged users that can only upload files to a private target</li>
  <li>Analyst users that can view failure reports for any firmware in the OEM group</li>
  <li>QA users that can upload files, and can move files from testing to stable</li>
</ul>
<p>
  We can create as many different users of each type as required, and
  each can have a different password.
  Some vendors just need one 'QA User' as the person uploading the
  firmware is also the person who decides when to move the update from
  testing to stable.
</p>

<p>
  If you would like to know more, or want to request a new account,
  please <a href="mailto:richard@hughsie.com">email me</a> for more details.
</p>
{% endblock %}
