{% extends "default.html" %}
{% block title %}New Account{% endblock %}

{% block content %}
<div class="container">
<h1>Applying for a new account</h1>
<p>
  Vendors who can submit automatic firmware updates are in a privileged position where files
  can be installed on user systems without authentication.
  This means we have to do careful checks on vendors, and it's important
  for vendors to understand the ramifications of getting it wrong.
</p>
<p>
  The Linux Vendor Firmware Project signs the firmware image and repacks
  the files into a new cabinet file for several reasons:
</p>
<ul>
  <li>
    Only trusted vendors have access to the LVFS service, so we can be
    sure the firmware actually came from the vendor.
  </li>
  <li>
    Clients do not (yet) verify the signatures in the catalog file.
  </li>
  <li>
    Not all software trusts the Microsoft WHQL certificate.
  </li>
  <li>
    Only required files are included in the compressed cabinet file,
    typically making the download size much smaller.
  </li>
</ul>

<p>
  When creating an account we can optionally create two classes of user,
  which allows you to have your firmware engineers do the upload and QA users
  control who can access the firmware:
</p>
<ul>
  <li>Unprivileged users can upload files to the private target</li>
  <li>QA users can move the firmware from Private &#8594; Embargoed &#8594; Testing &#8594; Stable</li>
</ul>
<p>
  We can create as many different users of each type as required, and
  each can have a different password.
  Some vendors just need one 'QA User' as the person uploading the
  firmware is also the person who decides when to move the update from
  testing to stable.
</p>

<p>
  If you would like to know more, or want to request a new account,
  please <a href="mailto:richard@hughsie.com">email me</a> for more details.
</p>

</div>
{% endblock %}
