{% extends "default.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
<h1>Modify User</h1>
<p>
  A good password consists of upper and lower case with numbers.
</p>
<form method="post" action="/lvfs/user/{{session['username']}}/modify">
<table class="table">
  <div class="form-control">
    <label for="password_old">Current Password:</label>
    <input type="password" name="password_old" required>
  </div>
  <div class="form-control">
    <label for="password_new">New Password:</label>
    <input type="password" name="password_new" required>
  </div>
  <div class="form-control">
    <label for="name">Vendor Name:</label>
    <input type="text" name="name" value="{{vendor_name}}" required>
  </div>
  <div class="form-control">
    <label for="contact_email">Contact Email:</label>
    <input type="text" name="email" value="{{contact_email}}" required>
  </div>
  <div class="form-control">
    <label for="pubkey">GPG Public Key (optional):</label>
    <textarea name="pubkey" cols="64" rows="5">{{pubkey}}</textarea>
  </div>
  <div class="well">
    Setting a public key would mean you are responsible for signing the firmware
    payload prior to file upload.
  </div>
</table>
<input type="submit" class="btn btn-primary btn-large" class="submit" value="Modify">
</form>

{% if session['username'] == 'admin' %}
<div class="well">
  The email address set here will be used as the signing key for all firmware
  and metadata.
</div>
{% endif %}


</div> <!-- container -->
{% endblock %}
