{% extends "default.html" %}
{% block title %}Protocols{% endblock %}

{% block content %}
<h1>Known Protocols</h1>

{% if protocols|length == 0 %}
<p>
  No protocols have been created.
</p>

{% else %}

<table class="table">
  <tr class="row">
    <th class="col-sm-2">Value</th>
    <th class="col-sm-2">Security Level</th>
    <th class="col-sm-6">Name</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for pr in protocols %}
  <tr class="row">
    <td class="col-sm-2"><code>{{pr.value}}</code></td>
    <td class="col-sm-2 pl-4">
      <img src="/img/{{pr.icon_name}}.png"/>
    </td>
    <td class="col-sm-6">{{pr.name}}</td>
    <td class="col-sm-2"><a class="btn btn-info btn-block" href="/lvfs/protocol/{{pr.protocol_id}}/details" role="button">Details &raquo;</a></td>
  </tr>
{% endfor %}
</table>

{% endif %}

<hr/>

<h2>Create a new update protocol</h2>
<form method="post" action="/lvfs/protocol/add" class="form-inline">
  <div class="table">
    <div class="row">
      <div class="col-sm-10">
        <input class="form-control" type="text" size="100" name="value" placeholder="Value" required>
      </div>
      <div class="col-sm-2">
        <input class="btn btn-primary btn-block" type="submit" value="Add">
      </div>
    </div>
  </div>
</form>
{% endblock %}
