{% extends "default.html" %}
{% block title %}Search Results{% endblock %}

{% block content %}
<form method="GET" class="form-inline justify-content-center" action="/lvfs/search">
  <div class="input-group">
    <input type="text" class="form-control" aria-label="search" name="value" required>
    <div class="input-group-append">
      <button class="input-group-text" type="submit">Search</button>
    </div>
  </div>
</form>

{% if search_size < 0 %}
<p class="text-muted">Search for firmware or hardware vendors&hellip;</p>

<div class="card mb-3">
  <h3 class="card-header list-group-item-warning">
    Privacy warning!
  </h3>
  <div class="card-body">
    <p class="card-text">
      We're still working on making the search functionality return better
      quality results for the given search terms.
      To do that we are logging the search terms and the number of results to
      make the algorithm better.
      Don't search for anything you don't want the LVFS admin team to see!
    </p>
  </div>
</div>

{% elif mds|length == 0 and vendors|length == 0 %}
<h3>No results found for <i>{{keywords_bad|join(',')}}</i>.</h3>
{% else %}
{% if keywords_good|length > 0 and keywords_bad|length > 0 and vendors|length == 0 %}
<h3>Showing {{mds|length}} of {{search_size}} results for <i>{{keywords_good|join(',')}},<strike>{{keywords_bad|join(',')}}</strike></i>:</h3>
{% else %}
<h3>Showing {{mds|length + vendors|length}} of {{search_size + vendors|length}} results for <i>{{keywords_good|join(',')}}</i>:</h3>
{% endif %}
<table class="table table-striped mt-3">
{% for vendor in vendors %}
  <tr class="row">
    <td class="col-sm-1">
{% if vendor.icon %}
      <img class="img-thumbnail" src="/uploads/{{vendor.icon}}" height="64"/>
{% else %}
      <img class="img-thumbnail" src="/uploads/vendor-unknown.png" height="64"/>
{% endif %}
    </td>
    <td class="col-sm-11">
      <a href="/lvfs/vendorlist#{{vendor.group_id}}">Hardware Vendor: {{vendor.display_name}}</a><br/>
      Uses the LVFS: {{ 'Yes' if vendor.is_account_holder == 'yes' else 'No' }}<br/>
      Uploading Firmware: {{ 'Yes' if vendor.is_uploading == 'yes' else 'No' }}<br/>
      Official Statement: {{vendor.description}}
    </td>
  </tr>
{% endfor %}
{% for md in mds %}
  <tr class="row">
    <td class="col-sm-1">
{% if md.fw.vendor.icon %}
      <img class="img-thumbnail" src="/uploads/{{md.fw.vendor.icon}}" height="64"/>
{% else %}
      <img class="img-thumbnail" src="/uploads/vendor-unknown.png" height="64"/>
{% endif %}
    </td>
    <td class="col-sm-11">
      <a href="/lvfs/component/{{md.component_id}}/all">Firmware: {{md.name}}</a><br/>
      Vendor: {{md.developer_name}}<br/>
      Latest Version: {{md.version}}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
</div>

{% if show_vendor_nag %}
<div class="card mt-3">
  <h3 class="card-header list-group-item-info">
    Not found what you were looking for?
  </h3>
  <div class="card-body">
    <p class="card-text">
      If you didn't find the hardware you were looking for <b>please contact
      your hardware vendor and ask them to support the LVFS.</b>
    </p>
    <p class="card-text">
      Companies only respond to consumer demand, and having customers
      opening support tickets and sending emails to ask about firmware updating
      on Linux is the best way to get vendors uploading firmware.
      More and more companies are joining the LVFS, but some need a little convincing.
      Thanks!
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
