{% extends "default.html" %}
{% block title %}Settings{% endblock %}

{% block nav %}
<nav>
  <ul class="nav nav-tabs">
{% for plugin in plugins %}
    <div><h3></h3></div>
    <li class="nav-item">
{% if plugin_id == plugin.id %}
      <a class="nav-link active" href="/lvfs/settings/{{plugin.id}}">{{plugin.name()}}</a>
{% else %}
      <a class="nav-link" href="/lvfs/settings/{{plugin.id}}">{{plugin.name()}}</a>
{% endif %}
    </li>
{% endfor %}
  </ul>
</nav>
{% endblock %}

{% block content %}
  <form class="form" method="post" action="/lvfs/settings/modify/{{plugin_id}}">

{% for plugin in plugins %}
{% if plugin.id == plugin_id %}
    <div><p>{{plugin.summary()}}</p></div>
{% for s in plugin.settings() %}
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">{{s.name}}</label>
      <div class="col-sm-10">
{% if s.__class__.__name__ == 'PluginSettingBool' %}
{% if settings[s.key] == 'enabled' %}
        <input type="checkbox" class="form-check" name="{{s.key}}" value="enabled" checked>
{% else %}
        <input type="checkbox" class="form-check" name="{{s.key}}" value="enabled">
{% endif %}
        <input type="hidden" name="{{s.key}}" value="disabled">
{% else %}
        <input type="text" class="form-control" name="{{s.key}}" value="{{settings[s.key]}}">
{% endif %}
      </div>
    </div>
{% endfor %}
{% endif %}
{% endfor %}
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <input type="submit" class="btn btn-primary btn-large" class="submit" value="Modify">
      </div>
    </div>
  </form>
{% endblock %}
