{% extends "default.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
{% if vendor_ids|length > 0 %}
<h2>Restrictions</h2>
<p>
  Due to the sensitive nature of providing firmware files we ensure that only
  vendors can install firmware on their own devices.
  You are currently limited to providing firmware with the vendor IDs of:
</p>
<ul>
{% for vendor_id in vendor_ids %}
<li><code>{{vendor_id}}</code></li>
{% endfor %}
</ul>
<p>
  If you need to add another vendor ID then please
  <a href="https://github.com/hughsie/lvfs-website/issues">file an issue</a>
  with further information.
</p>
{% endif %}

<h2>Upload Firmware</h2>
<p>
  Uploading firmware is covered by <a href="/lvfs/agreement">our legal agreement</a>.
</p>
<form action="/lvfs/upload" method="post" enctype="multipart/form-data" class="form">
{% if affiliations|length %}
  <div class="form-group row">
    <label for="target" class="col-sm-2 col-form-label">Upload for vendor</label>
    <div class="col-sm-10">
      <select class="form-control pt-0 pb-0 pl-0 pr-0" name="vendor_id" size="{{affiliations|length+1}}" required>
        <option class="pt-2 pb-2 pl-2" value="{{g.user.vendor.vendor_id}}">{{g.user.vendor.display_name}}</option>
{% for r in affiliations %}
        <option class="pt-2 pb-2 pl-2" value="{{r.vendor.vendor_id}}">{{r.vendor.display_name}}</option>
{% endfor %}
      </select>
    </div>
  </div>
{% else %}
  <input type="hidden" name="vendor_id" value="{{g.user.vendor_id}}">
{% endif %}
{% if g.user.vendor.is_embargo_default %}
  <input type="hidden" name="target" value="embargo">
{% else %}
  <div class="form-group row">
    <label for="target" class="col-sm-2 col-form-label">Upload to remote</label>
    <div class="col-sm-10">
      <select class="form-control pt-0 pb-0 pl-0 pr-0" name="target" size="2" required>
        <option class="pt-2 pb-2 pl-2" value="private">Private (secret)</option>
        <option class="pt-2 pb-2 pl-2" value="embargo">Embargoed (available to all members of the vendor group)</option>
      </select>
    </div>
  </div>
{% endif %}
  <div class="form-group row">
    <label for="file" class="col-sm-2 col-form-label">Firmware file</label>
    <div class="col-sm-10">
      <input class="form-control pt-2 pb-2 pl-2 pr-2" type="file" name="file" required/>
    </div>
  </div>
  <div class="form-group row">
    <p class="col-sm-2">&nbsp;</p>
    <div class="col-sm-10">
      <input type="submit" class="btn btn-primary btn-large" value="Upload"/>
    </div>
  </div>
</form>
{% endblock %}
