{% extends "default.html" %}
{% block title %}User List{% endblock %}

{% block content %}
<div class="container-fluid">

<div class="row-fluid">
  <div class="span3">
{% if users|length > 0 %}
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Existing Users</li>
        <!--<li class="active"><a href="#">Link</a></li>-->
{% for u in users %}
        <li><a href="/lvfs/user/{{u.username}}/admin">{{u.username}}</a></li>
{% endfor %}
      </ul>
    </div><!--/.well -->
{% endif %}
  </div><!--/span-->
  <div class="span9">
    <div class="">
      <h2>Create a new user</h2>
      <form method="post" action="/lvfs/user/add" class="form">
        <div class="form-control">
          <label for="username_new">Username:</label>
          <input type="text" class="form-control" name="username_new" required>
        </div>
        <div class="form-control">
          <label for="password_new">Password:</label>
          <input type="password" class="form-control" name="password_new" required>
        </div>
        <div class="form-control">
          <label for="name">Vendor Name:</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-control">
          <label for="email">Contact Email:</label>
          <input type="text" class="form-control" name="email" required>
        </div>
        <div class="form-control">
          <label for="group_id">Group:</label>
          <input type="text" class="form-control" name="group_id" required>
        </div>
        <input class="btn btn-primary btn-large" type="submit" value="Add">
      </form>
    </div>
  </div><!--/span-->
</div><!--/row-->

</div> <!-- container -->
{% endblock %}
