{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block content %}
<div class="container mt-3">
<h1>Details of user ‘{{u.username}}’</h1>

{% if u.username == 'admin' %}
<p>
  The email address set here will be used as the signing key for all firmware
  and metadata.
</p>
{% endif %}

<form method="post" action="/lvfs/user/{{u.username}}/modify_by_admin">
  <div class="form-group">
    <label for="group_id">Group:</label>
    <input type="text" class="form-control" name="group_id" value="{{u.group_id}}" required>
  </div>
  <div class="form-group">
    <label for="display_name">Vendor Name:</label>
    <input type="text" class="form-control" name="display_name" value="{{u.display_name}}" required>
  </div>
  <div class="form-group">
    <label for="email">Contact Email:</label>
    <input type="text" class="form-control" name="email" value="{{u.email}}" required>
  </div>
  <div class="form-group">
    <label for="password">New Password:</label>
    <input type="password" class="form-control" name="password">
  </div>
{% if g.user.check_capability('admin') %}
  <div class="form-group">
    <label for="is_enabled">
{% if u.is_enabled %}
      <input class="checkbox" type="checkbox" name="is_enabled" value="1" checked />
{% else %}
      <input class="checkbox" type="checkbox" name="is_enabled" value="1"/>
{% endif %}
      Account enabled:
    </label>
  </div>
  <div class="form-group">
    <label for="is_locked">
{% if u.is_locked %}
      <input class="checkbox" type="checkbox" name="is_locked" value="1" checked />
{% else %}
      <input class="checkbox" type="checkbox" name="is_locked" value="1"/>
{% endif %}
      Prevent password change:
    </label>
  </div>
  <div class="form-group">
    <label for="is_qa">
{% if u.is_qa %}
      <input class="checkbox" type="checkbox" name="is_qa" value="1" checked />
{% else %}
      <input class="checkbox" type="checkbox" name="is_qa" value="1"/>
{% endif %}
      Allow moving to testing and stable:
    </label>
  </div>
{% endif %}
  <input type="submit" class="btn btn-primary btn-large" class="submit" value="Modify">
</form>

{% if u.group_id != 'admin' %}
<h1>Delete User</h1>
<p>
  Unless you are required to delete a user for legal or compliance reasons,
  removing a user is not recommended for the following reasons:
</p>
<ul>
  <li class="confirm">
    All firmware uploaded by the user will be deleted.
  </li>
  <li class="confirm">
    A new user cannot be added with the same name as the old user.
  </li>
  <li class="confirm">
    Any statistics and logs for this user are also deleted.
  </li>
</ul>

<form method="get" action="/lvfs/user/{{u.username}}/delete">
  <button class="btn btn-danger btn-large">Delete</button>
</form>
{% endif %}

</div> <!-- container -->
{% endblock %}
