{% extends "default.html" %}
{% block title %}User Recovery{% endblock %}

{% block content %}

<h1>Forgot your password?</h1>
<p>
  <strong>Don't worry.</strong>
  Reseting your password is easy, just tell us the email address you registered with.
  The password recovery link may take a few minutes to be generated.
</p>

<div class="d-flex justify-content-center">
<form method="post" action="/lvfs/user/recover">
  <div class="form-group row">
    <input type="text" class="form-control" name="username" placeholder="Email address" size="60" required>
  </div>
  <div class="form-group row">
    <input type="submit" class="btn btn-primary btn-large btn-block" class="submit" value="Reset Password">
  </div>
</form>
</div>

{% endblock %}
