{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block nav %}{% include 'user-nav.html' %}{% endblock %}

{% block content %}

{% if u.user_id == g.user.user_id %}
<div class="alert alert-warning mt-1" role="alert">
  <strong>Be careful editing your own profile:</strong>
  If you remove attributes they may need to be re-added manually by the LVFS administrator.
</div>
{% endif %}

<form method="post" action="/lvfs/user/{{u.user_id}}/modify_by_admin">
{% if u.auth_type != 'oauth' %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="display_name">Display Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="display_name" value="{{u.display_name}}" required>
    </div>
  </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="display_name">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username" value="{{u.username}}">
    </div>
  </div>
{% endif %}
{% if g.user.check_acl('@admin') and u.auth_type in ['local', 'local+locked'] %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="display_name">Password</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="password" value="" placeholder="{{'Exists' if u.password else 'Does not exist'}}">
    </div>
  </div>
{% endif %}
{% if u.vendor.check_acl('@manage-users') %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="auth_warning">Account Warning</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="auth_warning" value="{{u.auth_warning if u.auth_warning else ''}}">
    </div>
  </div>
{% endif %}
{% if u.vendor.check_acl('@manage-users') %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="auth_type">Account Type</label>
    <div class="col-sm-10">
    <select class="form-control" name="auth_type">
      <option value="disabled" {{ 'selected' if u.auth_type == 'disabled' }}>
        Disabled
      </option>
      <option value="local" {{ 'selected' if u.auth_type == 'local' }}>
        Enabled, can change own password
      </option>
      <option value="local+locked" {{ 'selected' if u.auth_type == 'local+locked' }}>
        Enabled, password cannot be changed
      </option>
      <option value="oauth" {{ 'selected' if u.auth_type == 'oauth' }}>
        OAuth only
      </option>
    </select>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Attributes</legend>
      <div class="col-sm-10">
{% if g.user.check_acl('@add-attribute-admin') %}
        <span class="switch mt-3">
          <input class="switch" type="checkbox" name="is_admin" id="is_admin" value="1" {{'checked' if u.is_admin}}>
          <label for="is_admin">
            Full access to all vendors and users on the server
          </label>
        </span>
{% endif %}
{% if g.user.check_acl('@add-attribute-robot') %}
        <span class="switch mt-3">
          <input class="switch" type="checkbox" name="is_robot" id="is_robot" value="1" {{'checked' if u.is_robot}}>
          <label for="is_robot">
            Account is a robot used for automated firmware uploading only
          </label>
        </span>
{% endif %}
{% if g.user.check_acl('@add-attribute-analyst') %}
        <span class="switch">
          <input class="switch" type="checkbox" name="is_analyst" id="is_analyst" value="1" {{'checked' if u.is_analyst}}>
          <label for="is_analyst">
            Read-only access to all firmware and associated reports in the <code>{{u.vendor.group_id}}</code> group
          </label>
        </span>
{% endif %}
{% if g.user.check_acl('@add-attribute-qa') %}
        <span class="switch mt-3">
          <input class="switch" type="checkbox" name="is_qa" id="is_qa" value="1" {{'checked' if u.is_qa}}>
          <label for="is_qa">
            Allowed to modify all the firmware uploaded to the <code>{{u.vendor.group_id}}</code> group
          </label>
        </span>
{% endif %}
{% if g.user.check_acl('@add-attribute-manager') %}
        <span class="switch mt-3 mb-3">
          <input class="switch mt-3" type="checkbox" name="is_vendor_manager" id="is_vendor_manager" value="1" {{'checked' if u.is_vendor_manager}}>
          <label for="is_vendor_manager">
            Allowed to add, remove and modify users in the <code>{{u.vendor.group_id}}</code> group
          </label>
        </span>
{% endif %}
{% if g.user.check_acl('@add-attribute-approved') %}
        <span class="switch mt-3">
          <input class="switch" type="checkbox" name="is_approved_public" id="is_approved_public" value="1" {{'checked' if u.is_approved_public}}>
          <label for="is_approved_public">
            Allowed to move firmware to the public <code>testing</code> and <code>stable</code> remotes
          </label>
        </span>
{% endif %}
      </div>
    </div>
  </fieldset>
{% endif %}
{% if g.user.check_acl('@admin') %}
  <hr/>
  <div class="form-group">
    <label for="send_email">
      <input class="checkbox" type="checkbox" name="send_email" value="{{'1' if not u.is_robot}}" checked />
      Notify the user about the account change
    </label>
  </div>
{% else %}
  <input type="hidden" name="send_email" value="1">
{% endif %}
  <input type="submit" class="btn btn-primary btn-large" class="submit" value="Modify">
  <div class="float-right">
    <a class="btn btn-warning" href="/lvfs/user/{{u.user_id}}/reset_by_admin">Reset Password</a>
{% if g.user.check_acl('@admin') and u.group_id != 'admin' %}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
  </div>
</form>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete User?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Unless you are required to delete a user for legal or compliance reasons,
          removing a user is not recommended for the following reasons:
        </p>
        <ul>
          <li class="confirm">
            All firmware uploaded by the user will be deleted.
          </li>
          <li class="confirm">
            Any statistics and logs for this user are deleted.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/lvfs/user/{{u.user_id}}/delete">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block breadcrumb %}{% include 'user-breadcrumb.html' %}{% endblock %}
