{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block nav %}{% include 'user-nav.html' %}{% endblock %}

{% block content %}

{% if u.fws|length > 0 %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-4">Firmware</th>
    <th class="col-sm-2">Version</th>
    <th class="col-sm-2">For Vendor</th>
    <th class="col-sm-2">In Remote</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for fw in u.fws %}
  <tr class="row">
    <td class="col-sm-4">{{fw.mds[0].developer_name}} {{fw.mds[0].name}}</td>
    <td class="col-sm-2">{{fw.version_display}}</td>
    <td class="col-sm-2">{{fw.vendor.group_id}}</td>
    <td class="col-sm-2"><code>{{fw.remote.name}}</code></td>
    <td class="col-sm-2">
      <a class="btn btn-info btn-block" href="/lvfs/firmware/{{fw.firmware_id}}">Details</a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
<p>This user has uploaded no firmware.</p>
{% endif %}

{% endblock %}

{% block breadcrumb %}{% include 'user-breadcrumb.html' %}{% endblock %}
