{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block content %}
<h1>Details of user ‘{{u.username}}’</h1>

<form method="post" action="/lvfs/user/{{u.user_id}}/modify_by_admin">
{% if u.auth_type != 'oauth' %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="display_name">Display Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="display_name" value="{{u.display_name}}" required>
    </div>
  </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="display_name">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username" value="{{u.username}}">
    </div>
  </div>
{% endif %}
{% if g.user.check_acl('@admin') and u.username_old %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="display_name">Legacy Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username_old" value="{{u.username_old}}">
    </div>
  </div>
{% endif %}
{% if u.vendor.check_acl('@manage-users') %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="auth_type">Account Type</label>
    <div class="col-sm-10">
    <select class="form-control" name="auth_type">
      <option value="disabled" {{ 'selected' if u.auth_type == 'disabled' }}>
        Disabled
      </option>
      <option value="local" {{ 'selected' if u.auth_type == 'local' }}>
        Enabled, can change own password
      </option>
      <option value="local+locked" {{ 'selected' if u.auth_type == 'local+locked' }}>
        Enabled, password cannot be changed
      </option>
      <option value="oauth" {{ 'selected' if u.auth_type == 'oauth' }}>
        OAuth only
      </option>
    </select>
    </div>
  </div>

  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Attributes</legend>
      <div class="col-sm-10">
{% if g.user.check_acl('@add-attribute-analyst') %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="is_analyst" id="is_analyst" value="1" {{'checked' if u.is_analyst}}>
          <label class="form-check-label ml-3 mt-1" for="is_analyst">
            Read-only access to all firmware and associated reports in the <code>{{u.vendor.group_id}}</code> group
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-attribute-qa') %}
        <div class="form-check mt-2">
          <input class="form-check-input" type="checkbox" name="is_qa" id="is_qa" value="1" {{'checked' if u.is_qa}}>
          <label class="form-check-label ml-3 mt-1" for="is_qa">
            Allowed to modify all the firmware uploaded to the <code>{{u.vendor.group_id}}</code> group
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-attribute-manager') %}
        <div class="form-check mt-2">
          <input class="form-check-input" type="checkbox" name="is_vendor_manager" id="is_vendor_manager" value="1" {{'checked' if u.is_vendor_manager}}>
          <label class="form-check-label ml-3 mt-1" for="is_vendor_manager">
            Allowed to add, remove and modify users in the <code>{{u.vendor.group_id}}</code> group
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-attribute-approved') %}
        <div class="form-check mt-2">
          <input class="form-check-input" type="checkbox" name="is_approved_public" id="is_approved_public" value="1" {{'checked' if u.is_approved_public}}>
          <label class="form-check-label ml-3 mt-1" for="is_approved_public">
            Allowed to move firmware to the public <code>testing</code> and <code>stable</code> remotes
          </label>
        </div>
{% endif %}
      </div>
    </div>
  </fieldset>
{% endif %}
{% if g.user.check_acl('@admin') %}
  <hr/>
  <div class="form-group">
    <label for="is_qa">
      <input class="checkbox" type="checkbox" name="send_email" value="1" checked />
      Notify the user about the account change
    </label>
  </div>
{% else %}
  <input type="hidden" name="send_email" value="1">
{% endif %}
  <input type="submit" class="btn btn-primary btn-large" class="submit" value="Modify">
{% if g.user.check_acl('@admin') and u.group_id != 'admin' %}
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#moveModal">Change Vendor</button>
{% endif %}
  <a class="btn btn-danger" href="/lvfs/user/{{u.user_id}}/reset_by_admin">Reset Password</a>
{% if g.user.check_acl('@admin') and u.group_id != 'admin' %}
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
</form>

{% if u.fws|length > 0 %}
<h3 class="mt-4">Firmware Uploaded By User</h3>
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-4">Firmware</th>
    <th class="col-sm-2">Version</th>
    <th class="col-sm-2">For Vendor</th>
    <th class="col-sm-2">In Remote</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for fw in u.fws %}
  <tr class="row">
    <td class="col-sm-4">{{fw.mds[0].developer_name}} {{fw.mds[0].name}}</td>
    <td class="col-sm-2">{{fw.version_display}}</td>
    <td class="col-sm-2">{{fw.vendor.group_id}}</td>
    <td class="col-sm-2"><code>{{fw.remote.name}}</code></td>
    <td class="col-sm-2">
      <a class="btn btn-info btn-block" href="/lvfs/firmware/{{fw.firmware_id}}">Details</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/lvfs/vendor/{{u.vendor.vendor_id}}/users">{{u.vendor.display_name}}</a></li>
    <li class="breadcrumb-item active "><code>{{u.username}}</code></li>
  </ol>
</nav>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete User?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Unless you are required to delete a user for legal or compliance reasons,
          removing a user is not recommended for the following reasons:
        </p>
        <ul>
          <li class="confirm">
            All firmware uploaded by the user will be deleted.
          </li>
          <li class="confirm">
            Any statistics and logs for this user are deleted.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/lvfs/user/{{u.user_id}}/delete">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="moveModalLabel" aria-hidden="true">
<form method="post" action="/lvfs/user/{{u.user_id}}/modify_by_admin">
{% if u.is_qa %}
  <input type="hidden" name="is_qa" value="1">
{% endif %}
{% if u.is_analyst %}
  <input type="hidden" name="is_analyst" value="1">
{% endif %}
{% if u.is_vendor_manager %}
  <input type="hidden" name="is_vendor_manager" value="1">
{% endif %}
{% if u.is_approved_public %}
  <input type="hidden" name="is_approved_public" value="1">
{% endif %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moveModalLabel">Really Move User?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Moving a user from one vendor should be done carefully.
        </p>
        <div class="form-group">
          <label for="auth_type">New Vendor:</label>
          <select class="form-control" name="vendor_id">
{% for v in possible_vendors %}
            <option value="{{v.vendor_id}}" {{ 'selected' if v.vendor_id == u.vendor_id }}>
              {{v.display_name}}
            </option>
{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="reparent">
            <input class="checkbox" type="checkbox" name="reparent" value="1" checked />
            Move firmware uploaded by the user to the new group
          </label>
        </div>
        <div class="form-group">
          <label for="send_email">
            <input class="checkbox" type="checkbox" name="send_email" value="1" checked />
            Notify the user about the account change
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary btn-danger" class="submit" value="Move">
      </div>
    </div>
  </div>
</form>
</div>

{% endblock %}
